.wrapper
  %nav#sidebar
    .sidebar-header
      %h3.sidebar 
        =image_tag "tortoise.png", {:class=> "blog2-img"}
        Mental & Physical Health
    %ul.list-unstyled.components
      %li.active
        %a{:href => "/health"}
          %i.fas.fa-dumbbell
          Health
        %a{:href => "/mental"}
          %i.fas.fa-heartbeat
          Mental
        %a{:href => "/food"}
          %i.fas.fa-utensils
          Food For You           
        %a{:href => "/about"} 
          %i.fas.fa-address-card
          About Us
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %button#sidebarCollapse.btn.btn-info{:type => "button"}
          %i.fas.fa-bars
          %span 
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-user-circle
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item.dropdown-color{:href => "/"} Logout
    %center
      %h1.title-blog รู้จักเเละเข้าใจ 'โรคซึมเศร้า'
    =image_tag "blog2.jpg", {:class=> "blog1-img"}
    .align-blog1
      %p.blog1-p1 โรคซึมเศร้า คืออะไร?
      %p.blog1-p                 โรคซึมเศร้า เป็นโรคความผิดปกติทางอารมณ์ มีอาการหลักคือ คือ
      %p.blog1-p 1) อารมณ์เศร้า ท้อแท้ ซึม หงอยทั้งที่ตัวเองรู้สึกหรือคนอื่นก็สังเกตเห็น
      %p.blog1-p 2) เบื่อ ไม่อยากทำอะไร หรือทำอะไรก็ไม่สนุกเพลิดเพลินเหมือนเดิม และมีอาการเหล่านี้รวมกันอย่างน้อย 5 อาการ ได้แก่ 
      %p.blog1-p                2.1) เบื่ออาหารหรือกินมากเกินไป 
      %p.blog1-p                2.2) หลับยาก หลับๆตื่นๆ หรือหลับมากไป 
      %p.blog1-p                2.3) คิดช้าพูดช้า ทำอะไรช้าลง หรือหงุดหงิด กระวนกระวาย ไม่สามารถอยู่นิ่งได้
      %p.blog1-p                2.4) รู้สึกอ่อนเพลียเหนื่อยใจ ไม่มีแรง  
      %p.blog1-p                2.5) รู้สึกตนเองไร้ค่า
      %p.blog1-p                2.6) สมาธิ ความคิดอ่านช้าลง
      %p.blog1-p                2.7) คิดไม่อยากมีชีวิตอยู่ หรืออยากทำร้ายตนเอง อาการเหล่านี้เป็นอยู่เกือบทั้งวัน เป็นติดต่อกันจนถึง 2 สัปดาห์ และทำกิจวัตรประจำวัน เข้าร่วมกิจกรรมด้านสังคม ทำหน้าที่การงานไม่ได้เหมือนเดิม หรือมีความทุกข์ทรมานใจอย่างเห็นได้ชัด
      %p.blog1-p                มีคนไทยป่วยเป็นโรคซึมเศร้าถึง 1.5 ล้านคน แต่ได้รับการตรวจรักษาเพียงครึ่งหนึ่งเท่านั้น โรคซึมเศร้ารักษาหายได้...รักษาด้วยยาต้านเศร้าอย่างน้อย 6-9 เดือน หรือรักษาด้วยจิตบำบัด
      %p.blog1-p1 โรคซึมเศร้า..มีสาเหตุเกิดจากอะไร?
      %p.blog1-p                สาเหตุของโรคเกิดจาก 2 สาเหตุ คือ 1.ปัจจัยทางชีวภาพ เช่น พันธุกรรม หรือโรคทางกายบางอย่าง เช่น โรคไทรอยด์ สารเสพติดต่างๆ  2.ปัจจัยด้านจิตสังคมและลักษณะนิสัย เช่น เป็นคนเครียดสูง มองตนเองในแง่ลบ หรือมองโลกในแง่ร้าย รวมทั้งความเครียดที่เราพบเจอในชีวิตประจำวัน เช่น ความเครียดในครอบครัว การเจอกับเหตุการณ์สะเทือนใจอย่างรุนแรง ความผิดหวัง ชีวิตโดดเดี่ยว สูญเสียคนที่รัก ตกงาน หย่าร้าง เป็นต้น
      %p.blog1-p1 หากท่านมีภาวะซึมเศร้า... สามารถป้องกันไม่ให้ป่วยเป็นโรคซึมเศร้าได้ โดย...
      %p.blog1-p - คุยกับคนที่ไว้ใจ เกี่ยวกับอารมณ์เศร้า และเรื่องที่ทำให้เศร้า หลายคนรู้สึกดีขึ้นหลังจากการพูดคุย
      %p.blog1-p - หากิจกรรมที่เคยทำแล้วมีความสุข
      %p.blog1-p - ไปมาหาสู่พบปะพูดคุยกับเพื่อน และครอบครัวบ่อยๆ และสม่ำเสมอ
      %p.blog1-p - ออกกำลังกายสม่ำเสมอ แม้เป็นการเดินระยะสั้นก็ได้ จนเหงื่อซึมไหล นาน 30 นาที
      %p.blog1-p - รับประทานอาหาร และนอนให้เป็นเวลาทุกๆวัน
      %p.blog1-p - ทำใจกับอาการซึมเศร้าว่า เป็นเรื่องที่ทุกคนเป็นได้ ความคาดหวังในสิ่งต่างๆ อาจจะไม่เป็นไปตามที่เคยเป็น
      %p.blog1-p - งดดื่มเครื่องดื่มแอลกอฮอล์ ห้ามใช้ยาเสพติด เพราะทำให้อาการซึมเศร้าเป็นมากขึ้น
      %p.blog1-p - ไปพบแพทย์ พยาบาล นักจิตวิทยา หรือบุคลากรสาธารณสุข ท่านจะได้รับการดูแลช่วยเหลือที่ทันท่วงที และเป็นการเริ่มต้นที่ดีในการรักษา
      %p.blog1-p - หากท่านคิดไม่อยากมีชีวิตอยู่ หรืออยากทำร้ายตนเอง ให้รีบขอความช่วยเหลือจากบุคลากรสาธารณสุขโดยด่วน
      %p.blog1-p - ให้ระลึกอยู่เสมอว่า การได้รับดูแลรักษาที่ถูกวิธี จะทำให้ท่านอาการดีขึ้นอย่างรวดเร็ว และหายขาด
      %p.blog1-p1 ทำอย่างไรเมื่อเป็นซึมเศร้า...รักษาได้หรือไม่?
      %p.blog1-p                หากตรวจสอบตัวเองและคนใกล้ชิดแล้ว พบว่า ในช่วง  1-2 สัปดาห์ที่ผ่านมา มีอาการดังกล่าว หรือยิ่งรู้สึกสิ้นหวังรุนแรง ให้หาทางระบายความคิดและความรู้สึกของตัวเองออกมากับคนใกล้ชิดที่ไว้ใจและมั่นใจว่าจะช่วยเหลือได้ หรือพบจิตแพทย์
      %p.blog1-p                โปรดระลึกไว้เสมอว่า “โรคซึมเศร้า..รักษาได้” แต่ถ้าเป็นมากๆ แล้วไม่ได้รับการรักษา หรือรักษาไม่ต่อเนื่องจะมีแนวโน้มสู่การฆ่าตัวตายได้สูง ซึ่งพบได้ถึงร้อยละ 60 วิธีรักษาคือเข้ารับการรักษาในโรงพยาบาล ในรายที่มีอาการมาก เช่น มีความคิดฆ่าตัวตาย  หรือรักษาโดยการใช้ยา รวมถึงการรักษาด้วยจิตบำบัด ซึ่งจะเป็นการปรับทัศนคติ ปรับเปลี่ยนมุมมองชีวิต และเมื่อเข้ารับการรักษาแล้วควรเข้าสู่กระบวนการที่รักษาอย่างต่อเนื่อง จะช่วยให้ผู้ป่วยกลับใช้ชีวิตดังเดิมได้               
      %p.blog1-p1 เข้าใจโลกของผู้ป่วยซึมเศร้า
      %p.blog1-p                สิ่งสำคัญที่สุดคือ ผู้ใกล้ชิดผู้ป่วยอย่ามองว่า อาการที่ผู้ป่วยแสดงออกมาเป็นสิ่งที่ผู้ป่วยคิดหรือสร้างขึ้นมาเอง หรือคิดมองโลกในแง่ร้ายเอง  หรือใช้คำพูดเช่น “ไม่สู้เอง”  “ทำไมไม่ดูแลตนเอง” “ไม่เห็นมีอะไรเลยทำไมถึงเศร้า” “เรื่องแค่นี้เองทำไมถึงอ่อนแอจัง”  เพราะจะยิ่งทำให้ผู้ป่วยไม่กล้ายอมรับว่าตัวเองเป็นโรคซึมเศร้า เพราะกลัวถูกมองว่าตนเองล้มเหลว หรืออ่อนแอ หรือเป็นความผิดของตนเองจึงไม่ยอมเข้ารักษากับจิตแพทย์  แต่ควรเปิดใจรับฟังและพยายามหาทางช่วยเหลือเท่าที่จะทำได้ การรับฟังอย่างตั้งใจ ด้วยความเข้าใจ อดทน และห่วงใย ให้การสนับสนุน ให้กำลังใจ ชี้ให้เห็นถึงความเป็นจริง ตลอดจนความหวัง ชักชวนเข้าร่วมกิจกรรมทางสังคม หรืองานอดิเรกที่เคยให้ความสนใจ จะช่วยเป็นกำลังใจที่มีค่าต่อผู้ป่วย โดยสามารถขอรับคำปรึกษาได้ที่สายด่วนสุขภาพจิต 1323 โทรฟรี  24 ชั่วโมง หรือรีบพามาพบจิตแพทย์ เพื่อขอรับบริการได้ที่โรงพยาบาลจิตเวช สังกัดกรมสุขภาพจิตทั่วประเทศ  

      %p.blog1-p แหล่งอ้างอิง:  กรมสุขภาพจิต / www.who.int / www.thaidepression.com 