.wrapper
  %nav#sidebar
    .sidebar-header
      %h3.sidebar 
        =image_tag "tortoise.png", {:class=> "blog2-img"}
        Mental & Physical Health
    %ul.list-unstyled.components
      %li.active
        %a{:href => "/health"}
          %i.fas.fa-dumbbell
          Health
        %a{:href => "/mental"}
          %i.fas.fa-heartbeat
          Mental
        %a{:href => "/food"}
          %i.fas.fa-utensils
          Food For You           
        %a{:href => "/about"} 
          %i.fas.fa-address-card
          About Us
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %button#sidebarCollapse.btn.btn-info{:type => "button"}
          %i.fas.fa-bars
          %span 
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-user-circle
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item.dropdown-color{:href => "/"} Logout
    %center
      %h1.title-blog "โรคไบโพลาร์" หรือ "โรคอารมณ์สองขั้ว"
    =image_tag "World_bipolar_day.jpg", {:class=> "blog1-img"}
    .align-blog1
      %p.blog1-p                 "โรคไบโพลาร์" หรือ "โรคอารมณ์สองขั้ว" คือโรคที่ผู้ป่วยมีการแสดงออกของความผิดปกติทางอารมณ์  โดยมีความผิดปกติในระยะพลุ่งพล่านฟุ้งเฟ้อ สลับกับระยะซึมเศร้า ซึ่งเป็น 2 ขั้วที่ตรงข้ามกัน
      %p.blog1-p                 โรคนี้มีความชุกประมาณร้อยละ 1 ในผู้ใหญ่ ในเพศหญิงและเพศชายเท่าๆกัน ประมาณร้อยละ 20 ของผู้ป่วยเริ่มมีอาการระหว่างอายุ 15-19 ปี แต่ผู้ป่วยบางคนอาจเริ่มมีอาการในระยะก่อนเข้าวัยรุ่นหรือวัยรุ่นตอนต้นก็ได้ โดยที่องค์การอนามัยโลกก็ได้ระบุว่า โรคนี้เป็นโรคที่ก่อให้เกิดความสูญเสียเนื่องจากการเจ็บป่วยหรือความพิการ อันดับที่ 6 ของโลก และยังพบอีกว่า 1 ใน 5 ของผู้ป่วยฆ่าตัวตายสำเร็จ
      %p.blog1-p                 จากข้อมูลของงานเวชสถิติ ฝ่ายแผนงานและสารสนเทศ โรงพยาบาลศรีธัญญา กรมสุขภาพจิต ได้รายงานว่า ผู้ป่วยโรคอารมณ์สองขั้วมาใช้บริการมากขึ้นทุกปีดังนี้ ผู้ป่วยนอกปีพศ. 2556 จำนวน 8,797 ราย  ปีพศ. 2557 จำนวน 9,051 ราย และปีพศ. 2558 จำนวน 9,172 ราย และผู้ป่วยใน ปีพศ. 2556 จำนวน 368 ราย ปีพศ.2557 จำนวน 433 ราย และปีพศ. 2558 จำนวน 450 ราย
      %p.blog1-pผู้ป่วยโรคนี้จะมีอารมณ์แปรปรวนที่ผิดปกติแตกต่างกันอย่างเห็นได้ชัด ได้แก่
      %p.blog1-p1               1.ระยะซึมเศร้า
      %p.blog1-p                 จะรู้สึกเบื่อหน่ายไปหมด ไม่เพลินใจไปหมด  อารมณ์อ่อนไหวง่าย ร้องไห้ง่าย ทนเสียงดังไม่ได้ ไม่อยากพบใครหรือไม่อยากทำอะไร ถ้าเบื่อมากอาหารการกินก็ไม่สนใจ น้ำหนักลด นั่งเฉยๆ นานเป็นชั่วโมง  ใจลอยหลงๆ ลืมๆ ไม่มั่นใจ ตัดสินใจไม่ได้ คิดว่าตนเองเป็นภาระ    และหากมีอาการหนักจะถึงขั้นฆ่าตัวตาย
      %p.blog1-p1               2.ระยะพลุ่งพล่านฟุ้งเฟ้อ
      %p.blog1-p                 อารมณ์เปลี่ยนแปลงง่าย มีความมั่นใจในตัวเองมาก  รู้สึกว่าตัวเองเก่ง  พูดมาก  คล่องแคล่ว   ทักทายคน พูดเสียงดัง  ขาดความยับยั้งชั่งใจ แต่งตัวแปลกๆ ใช้จ่ายเงินสิ้นเปลือง ไม่คิดถึงกฎเกณฑ์ของสังคม พลุ่งพล่าน หากถูกห้ามปรามหรือขัดขวางในสิ่งที่ต้องการจะหงุดหงิด ฉุนเฉียว นอนดึก หรือ ไม่นอน
      %p.blog1-p1โรคนี้เกิดจากอะไร?
      %p.blog1-p                 มีสาเหตุ และปัจจัยเกี่ยวข้องหลายอย่างที่ทำให้เกิดโรคนี้ แต่ปัจจัยที่สำคัญที่สุดคือมีสารเคมีบางอย่างในสมองผิดปกติไป
      %p.blog1-p1ข้อสังเกต 
      %p.blog1-p                 อาการในระยะซึมเศร้าจะเกิดขึ้น อย่างช้าๆ  โดยไม่มีสาเหตุ หรือบางทีอาจเกี่ยวข้องกับบ้างกับความเครียด เช่น สอบตก  เปลี่ยนงาน จะเศร้าไม่เลิก จนทำงานไม่ได้  ส่วนอาการในระยะพลุ่งพล่านฟุ้งเฟ้อ จะเป็นเร็วมาก และไม่คิดว่าตัวเองผิดปกติ  ภายใน 2-3 สัปดาห์ อาการจะเต็มที่ และอาจมีอารมณ์รุนแรงมากก้าวร้าวจนญาติรับมือไม่ไหว
      %p.blog1-p1จะรักษาได้อย่างไร
      %p.blog1-p                 “ใช้การรักษาด้วยการรับประทานยาเป็นสำคัญ”  โดยจะเป็นยาที่ช่วยรักษาอาการซึมเศร้า อาการพลุ่งพล่านฟุ้งเฟ้อ และอาการโรคจิต    
      %p.blog1-p                 การรักษาทางด้านจิตใจ  ได้แก่ จิตบำบัดรายบุคคลและรายกลุ่ม กลุ่มการให้ความรู้แก่ผู้ป่วย รวมทั้งการให้ความรู้แก่ญาติเกี่ยวกับโรค อาการและการรักษา
      %p.blog1-p1ข้อควรปฏิบัติ
      %p.blog1-p                 กินยาอย่างถูกขนาด และสม่ำเสมอตรงตามเวลาตามแพทย์สั่งทุกมื้อ  (สามารถรักษาอาการในช่วงเฉียบพลันได้ดี /สามารถป้องกันการกำเริบของโรคได้)  และพบแพทย์ตามนัดทุกครั้ง 
      %p.blog1-p                 ดูแลตัวเอง (ห้ามอดนอน หลีกเลี่ยงเครื่องดื่มชูกำลัง กาแฟ ห้ามใช้สารเสพติด สุรา แอลกอฮอล์ อย่าเครียด)
      %p.blog1-p1แล้วจะอยู่อย่างไร...เมื่อเป็นไบโพล่าร์?
      %p.blog1-p                 โรคไบโพล่าร์ เป็นโรคเรื้อรัง มีโอกาสกลับเป็นซ้ำได้ จึงจำเป็นต้องรับประทานยาเพื่อให้ช่วยควบคุมอารมณ์ให้อยู่ในภาวะปกติ 
      %p.blog1-pป้องกันกลับเป็นซ้ำ กินยาให้ต่อเนื่อง
      %p.blog1-p                 ผู้ป่วยโรคอารมณ์สองขั้ว เมื่อมีอาการป่วยแล้วจะมีโอกาสกลับเป็นซ้ำตลอดช่วงชีวิตทั้งภาวะเมเนีย (Mania episode) ภาวะผสม (Mixed episode) และภาวะซึมเศร้า (Depressive episode) ซึ่งจะทำให้ความสามารถในการดำเนินชีวิตของผู้ป่วยลดลง มีความบกพร่องของหน้าที่การงาน
      %p.blog1-p                 เป้าหมายการรักษาในระยะยาว คือลดความถี่ของการเกิดระยะเฉียบพลัน การทำให้ภาวะอารมณ์ไม่คงที่เกิดน้อยที่สุด การเพิ่มความสามารถของผู้ป่วยในการดำเนินชีวิต โดยส่งเสริมให้ผู้ป่วยความร่วมมือด้วยการรับประทานยาอย่างต่อเนื่อง ร่วมกับการทำจิตสังคมบำบัด ที่มีความสำคัญในการทำให้ผู้ป่วยร่วมมือในการรับประทานยาช่วยให้ผู้ป่วยทราบถึงอาการเตือนก่อนกลับเป็นซ้ำ
      %p.blog1-p1ญาติและครอบครัว..กำลังใจที่สำคัญ
      %p.blog1-p                 ญาติมีบทบาทสำคัญในการดูแลให้ผู้ป่วยรับประทานยาและปฏิบัติตามแผนการรักษารวมทั้งหลีกเลี่ยงปัจจัยกระตุ้นให้เกิดอาการกำเริบ  ดังนั้นญาติผู้ป่วยจึงเป็นผู้ที่มีความสำคัญมากที่จะต้องได้รับการดูแลและช่วยเหลือสนับสนุนให้มีความสามารถในการดูแลผู้ป่วยได้อย่างถูกต้องเหมาะสมไม่มีอาการกำเริบรุนแรงไม่กลับป่วยซ้ำและสามารถดำรงชีวิตอยู่ในครอบครัวและชุมชนได้
      %p.blog1-p                 ตัวผู้ป่วยเองก็ต้องดำเนินชีวิตในทางสายกลาง ควบคุมเวลานอนหลับให้เพียงพอ อย่างน้อยวันละ 6-8 ชั่วโมง พยายามหาวิธีแก้ปัญหาและลดความเครียด และอย่าใช้ยากระตุ้นหรือสารมึนเมา เช่น เหล้า หรือ เครื่องดื่มที่มีคาเฟอีนสูง
      %p.blog1-pให้โอกาส.ผู้ป่วยไบโพล่าร์
      %p.blog1-p                 สิ่งสำคัญที่สุด คนรอบข้างต้องเข้าใจในผู้ป่วยที่เป็นภาวะเช่นนี้ด้วย ผู้ป่วยไบโพลาร์ เป็นบุคคลที่มีความสามารถที่ไม่ได้ด้อยไปกว่าคนอื่น เพราะฉะนั้นการที่ทุกคนมองผู้ป่วยไบโพลาร์ไม่ต่างจากผู้ป่วยโรคอื่นๆ ที่สามารถรักษาได้ ก็จะช่วยคนที่เป็นไบโพลาร์เข้าสู่กระบวนการรักษาและใช้ชีวิตได้อย่างมีความสุขเช่นเดียวกับคนทั่วไป
      
      %p.blog1-p เรียบเรียงจาก คณะกรรมการพัฒนาระบบบริการและดูแลโรคอารมณ์สองขั้ว  โรงพยาบาลศรีธัญญา