.wrapper
  %nav#sidebar
    .sidebar-header
      %h3.sidebar 
        =image_tag "tortoise.png", {:class=> "blog2-img"}
        Mental & Physical Health
    %ul.list-unstyled.components
      %li.active
        %a{:href => "/health"}
          %i.fas.fa-dumbbell
          Health
        %a{:href => "/mental"}
          %i.fas.fa-heartbeat
          Mental
        %a{:href => "/food"}
          %i.fas.fa-utensils
          Food For You           
        %a{:href => "/about"} 
          %i.fas.fa-address-card
          About Us
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %button#sidebarCollapse.btn.btn-info{:type => "button"}
          %i.fas.fa-bars
          %span 
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-user-circle
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item.dropdown-color{:href => "/"} Logout
    %center
      %h1.title-blog ปรับอารมณ์สู่สมดุลภายใน 4 นาที 
    =image_tag "blog1.png", {:class=> "blog1-img"}
    .align-blog1
      %p.blog1-p                 ในช่วงเวลาที่เร่งรีบ แต่คุณเกิดปรี๊ดปรอทแตกเผลอวีนเหวี่ยงคนรอบข้างจนร่างกายเกิดภาวะเครียดก่อนที่ความเครียดจะก่อโรคอันตราย เช่น โรคหัวใจ โรคความดันโลหิตสูง โรคกระเพาะอาหาร ฯลฯ ลองมาใช้วิธีที่นักจิตบำบัดชื่อดังชาวอเมริกัน แคเนียลา เทมเพสตา แนะนำ คือ ใช้ร่างกายเพื่อช่วยในการปรับสมดุลจิตใจภายในเวลาเพียง ๔ นาที ดังนี้
      %p.blog1-p                 ๑. ขยับทั้งตัวแบบอุ่นเครื่อง เมื่อใจหงุดหงิดหรือเคร่งเครียด ภายใน ๑ นาทีแรกให้คุณลองเปลี่ยนอิริยาบถ เช่น ลุกขึ้นยืน จากนั้นให้ขยับกล้ามเนื้อบนใบหน้า โดยทำสีหน้าต่างๆ ไปสัก ๓-๔ แบบ สุดท้ายลองวางมือลงบนตำแหน่งเหนือหัวใจเบาๆ เพื่อช่วยให้เกิดความรู้ตัวและกลับสู่ปัจจุบันขณะอีกครั้ง
      %p.blog1-p                 ๒. ยิ้มให้ตัวเอง ๓๐ วินาทีต่อมา ขอให้คุณยิ้มหวานๆ ให้ตัวเองในกระจก มีผลวิจัยจากมหาวิทยาลัยแคนซัส สหรัฐอเมริกา ยืนยันว่าการยิ้มช่วยลดอัตราการเต้นของหัวใจและความดันโลหิตลงได้อย่างน่าอัศจรรย์ แม้ในขณะนั้นคุณไม่ได้รู้สึกสดชื่นเพียงพอที่จะยิ้มแต่วิธีนี้ย่อมเป็นทางเลือกที่ดีกว่าการทำหน้าบูดจนมีริ้วรอยบนใบหน้า
      %p.blog1-p                 ๓. ท่านั่งช่วยปรับใจ อีก ๒ นาทีครึ่งที่เหลือ ให้คุณนั่งหลังตรง งานวิจัยจากมหาวิทยาลัยฮาร์วาร์ด สหรัฐอเมริกา ระบุว่า การนั่งหลังตรงภายใน ๒ นาที ช่วยปรับอารมณ์ได้ เพราะส่งผลต่อฮอร์โมนเทสทอสเทอโรน ซึ่งทำให้รู้สึกมั่นใจขึ้นราว ๒๐ เปอร์เซ็นต์ และลดระดับฮอร์โมนคอร์ติซอลที่ทำให้รู้สึกเครียดได้ราว ๒๕ เปอร์เซ็นต์
      %p.blog1-p                 เพียงครู่เดียวก็เหมือนได้ “กดปุ่ม” หยุดสารพัดโรคจากความเครียดแล้วละค่ะ....

      %p.blog1-p แหล่งอ้างอิง: https://www.dmh.go.th/news/view.asp?id=1191