.wrapper
  %nav#sidebar
    .sidebar-header
      %h3.sidebar 
        =image_tag "tortoise.png", {:class=> "blog2-img"}
        Mental & Physical Health
    %ul.list-unstyled.components
      %li.active
        %a{:href => "/health"}
          %i.fas.fa-dumbbell
          Health
        %a{:href => "/mental"}
          %i.fas.fa-heartbeat
          Mental
        %a{:href => "/food"}
          %i.fas.fa-utensils
          Food For You           
        %a{:href => "/about"} 
          %i.fas.fa-address-card
          About Us
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %button#sidebarCollapse.btn.btn-info{:type => "button"}
          %i.fas.fa-bars
          %span 
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-user-circle
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item.dropdown-color{:href => "/"} Logout
    %center
      %h1.title-blog รวมศูนย์ปรึกษาปัญหาสุขภาพจิต
    =image_tag "J1.jpg", {:class=> "blog1-img"}
    .align-blog1
      %p.blog1-p1 กลุ่มสายด่วน
      %p.blog1-p                 - สายด่วนสุขภาพจิต โทร. 1323 (สามารถโทร. ปรึกษาได้ตลอด 24 ชั่วโมง)
      %p.blog1-p                 - สายด่วนสุขภาพจิต โรงพยาบาลราชวิถี โทร. 0-2354-8152
      %p.blog1-p                 - สมาคมสะมาริตันส์แห่งประเทศไทย มีบริการอาสาสมัคร ‘รับฟังด้วยใจ’ โดยสามารถติดต่อได้ที่ โทร. 0-2713-6793 ทุกวัน ตั้งแต่เวลา 12.00-22.00 น.
      %p.blog1-p1 กลุ่มให้คำปรึกษาทางโซเชียลมีเดีย
      %p.blog1-p                 - เฟซบุ๊ก สายด่วนสุขภาพจิต 1323 ตั้งแต่เวลา 06.30-22.30 น. ทุกวัน
      %p.blog1-p                 - เฟซบุ๊ก The Samaritans of Thailand สมาคมสะมาริตันส์แห่งประเทศไทย ตั้งแต่เวลา 12.00-22.00 น. ทุกวัน
      %p.blog1-p                 - แอปพลิเคชัน see doctor now สามารถโหลดได้ในระบบ iOS และระบบ Android
      %p.blog1-p1 โรงพยาบาลที่มีจิตแพทย์
      %p.blog1-p                 หรือสามารถสอบถามที่โรงพยาบาลและคลินิกใกล้บ้านได้โดยตรงว่ามีจิตแพทย์ตรวจรักษาหรือไม่ และลงตรวจในวันและเวลาใดบ้าง ทั้งนี้ นอกจากสถานพยาบาลดังกล่าวแล้ว สำหรับเด็กอายุต่ำกว่า 13 ปี และเด็กวัยรุ่นอายุไม่เกิน 18 ปี สามารถเข้าพบจิตแพทย์ได้ที่สถาบันสุขภาพจิตเด็กและวัยรุ่นราชนครินทร์ ได้โดยตรง
    =image_tag "J3.jpg", {:class=> "blog1-img"}
    .align-blog1  
      %p.blog1-p1 พบจิตแพทย์แพงไหม
      %p.blog1-p                 หากเป็นในส่วนของสายด่วนกรมสุขภาพจิต จะไม่มีค่าใช้จ่าย แต่หากเป็นสถานพยาบาลของรัฐ การพบจิตแพทย์ในเวลาราชการจะมีค่าบริการประมาณ 50-100 บาท คลินิกนอกเวลาราชการ มีค่าบริการราว 200 บาท (ขึ้นอยู่กับแต่ละโรงพยาบาล) ในส่วนของยา ถ้าสิทธิ์ไม่ครอบคลุม ผู้ป่วยจะต้องจ่ายเอง               
      %p.blog1-p1 นอกจากนี้ยังมี บริการที่ปรึกษาทางใจ ทั้งแชท โทร วิดีโอคอล หรือนัดเจอ สะดวกแบบไหนเลือกเลย
    =image_tag "sati2.jpg", {:class=> "blog1-img"}
    .align-blog1
      %p.blog1-p                 เว็บไซต์จิตวิทยาที่ให้บริการภายใต้คอนเซ็ปต์ ‘For The Better Version of Yourself’ โดยมุ่งหวังให้การดูแลสุขภาพจิตเป็นสวัสดิการนึงที่พนักงานในองค์กรควรได้รับเช่นเดียวกับการดูแลสุขภาพกาย แต่ถึงอย่างนั้นคนทั่วไปที่ไม่ใช่พนักงานบริษัทก็สามารถเข้าไปใช้บริการได้นะ     
      %p.blog1-p                 โดยเราสามารถเลือกหัวข้อที่ต้องการปรึกษาได้ด้วยตัวเองจากการประเมินเบื้องต้นด้วย RF Index ซึ่งครอบคลุมตั้งแต่ชีวิตส่วนตัว เช่น ปัญหาครอบครัว ความรัก ความสัมพันธ์ ไปจนถึงศักยภาพในการทำงาน เช่น ความเครียดจากการทำงาน ความสัมพันธ์กับเพื่อนร่วมงาน การเติบโตในองค์กร หรืออื่น ๆ
      %p.blog1-p                 วิธีใช้บริการก็เพียงแค่เลือกนักจิตวิทยาสาขาที่ต้องการปรึกษา จองวันเวลา และจ่ายค่าบริการ จากนั้นก็โทรเข้าไปปรึกษาตามวันเวลานั้น ๆ ได้เลย โดยทั่วไประยะเวลาในการให้คำปรึกษานั้นจะอยู่ที่ 1 – 2 ชั่วโมง หรือจนกว่าเราจะสบายใจขึ้น
    =image_tag "sati3.jpg", {:class=> "blog1-img"}
    .align-blog1
      %p.blog1-p                 อีกหนึ่งเว็บไซต์จิตวิทยาที่น่าสนใจมาก ๆ สำหรับเว็บนี้ช่องทางการปรึกษาก็จะเป็นทางโทรศัพท์เช่นเดียวกัน โดยผู้ให้คำปรึกษาเป็นนักจิตวิทยาคลินิกที่มีใบรับรอง เชื่อถือได้ อุ่นใจแน่นอน นอกจากนี้ยังมีไลฟ์โค้ชซึ่งได้ประกาศนียบัตรรับรองจากสถาบัน ICF (International Coach Federation) ที่เราสามารถปรึกษาเกี่ยวกับอาชีพ การทำงาน และการค้นหาตัวเองด้วยนะ  
      %p.blog1-p                 นอกจากจะให้บริการปรึกษาด้านสุขภาพจิตแล้ว iStrong ยังมีบทความที่น่าสนใจเกี่ยวกับจิตวิทยาและการดูแลสุขภาพจิตให้เราได้อ่านกันผ่านทางหน้าเว็บไซต์และเฟซบุ๊กเพจอีกด้วย ตามคอนเซ็ปต์ที่มุ่งช่วยเหลือให้คนก้าวเดินไปข้างหน้าอย่างมีความสุข ค้นพบศักยภาพในตัวเอง และใช้ชีวิตอย่างมีความหมายเลย
    =image_tag "sati4.jpg", {:class=> "blog1-img"}
    .align-blog1  
      %p.blog1-p                 สำหรับใครที่รู้สึกสบายใจในการปรึกษานักจิตวิทยาแบบพบตัวก็ไม่ได้น่ากลัวอย่างที่คิด One Man Counselor เป็นอีกทางเลือกที่เราสามารถนัดคิวนักจิตวิทยาแล้วเข้าไปพบได้เลย ปรึกษาได้แทบทุกปัญหาในชีวิตประจำวันที่ทำให้เรารู้สึกไม่สบายใจ เครียด วิตกกังวล หรือซึมเศร้า รวมถึงปัญหาที่ค้างคาจากอดีตที่ส่งผลต่อการใช้ชีวิตของเราในปัจจุบันด้วย
      %p.blog1-p                 หรือถ้าสะดวกเป็นช่องทางอื่นก็มีให้เลือกปรึกษาได้ทั้งทางโทรศัพท์ วิดีโอคอล หรือแชท ขึ้นอยู่กับความสบายใจของเรา อย่างหลายคนอาจจะไม่สบายใจที่ต้องได้ยินเสียงหรือพบนักจิตวิทยาโดยตรง การแชทก็เป็นอีกช่องทางที่ทำให้เรารู้สึกอุ่นใจ และมีเวลาได้คิดก่อนพิมพ์ด้วย
    =image_tag "sati5.jpg", {:class=> "blog1-img"}
    .align-blog1 
      %p.blog1-p                 อย่างที่ทราบกันดีว่า วัยเรียนเป็นอีกช่วงวัยที่เครียดไม่แพ้วัยทำงานเลย ที่คณะจิตวิทยา จุฬาฯ เขาจึงมีศูนย์สุขภาวะทางจิตที่คอยช่วยเหลือให้คำปรึกษาปัญหาต่าง ๆ ไม่ใช่เฉพาะเรื่องเรียนเท่านั้นนะ แต่ยังครอบคลุมถึงปัญหาส่วนตัวต่าง ๆ อีกด้วย
      %p.blog1-p                 นอกจากนิสิตจุฬาฯ ที่สามารถเข้าไปใช้บริการได้ฟรีแล้ว คนทั่วไปก็สามารถเข้าไปใช้บริการได้เช่นกัน แค่โทรเข้าไปนัดคิวแล้วก็เข้าไปพบนักจิตวิทยาตามวันเวลานัดหมายได้เลย ซึ่งค่าบริการก็ถือว่าถูกมากเลยถ้าเทียบกับความสบายใจและสุขภาพจิตที่ดีที่เราจะได้คืนมา
      
      %p.blog1-p แหล่งอ้างอิง: https://www.mangozero.com/7-ways-counseling/
      %p.blog1-p                   - https://health.kapook.com/view191925.html