.wrapper
  %nav#sidebar
    .sidebar-header
      %h3.sidebar 
        =image_tag "tortoise.png", {:class=> "blog2-img"}
        Mental & Physical Health
    %ul.list-unstyled.components
      %li.active
        %a{:href => "/health"}
          %i.fas.fa-dumbbell
          Health
        %a{:href => "/mental"}
          %i.fas.fa-heartbeat
          Mental
        %a{:href => "/food"}
          %i.fas.fa-utensils
          Food For You           
        %a{:href => "/about"} 
          %i.fas.fa-address-card
          About Us
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %button#sidebarCollapse.btn.btn-info{:type => "button"}
          %i.fas.fa-bars
          %span 
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-user-circle
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item.dropdown-color{:href => "/"} Logout
    %center
      %h1.title-blog 7 เทคนิคจิตวิทยา ที่ทำให้คุณเข้าใจตัวเองมากขึ้น
        
    =image_tag "7_tip", {:class=> "blog1-img"}
    .align-blog1
      %p.blog1-p5                “ไม่ต้องบอกฉัน ในสิ่งที่คนอื่นบอกว่าเธอเป็นยังไง เล่าเรื่องของตัวเธอเองให้ฉันฟังสิ”  
      %p.blog1-p                 นี่เป็นประโยคยอดฮิตที่ “เอลีนอร์ ลองเด็น” (Eleanor Longden) ได้เคยกล่าวไว้บนเวทีระดับโลกอย่าง TED TALK
      %p.blog1-p                 เชื่อว่าน่าจะทำให้ใครหลายคนฉุกคิดขึ้นมาได้ว่า นานแค่ไหนแล้ว ที่เราหลงลืมความเป็นตัวเองไป  
      %p.blog1-p                 นานแค่ไหนแล้ว ที่เราพยายามเข้าใจคนอื่น จนลืมไปว่าตัวเองก็ต้องการคนเข้าใจเหมือนกัน  
      %p.blog1-p                 แต่อย่ามัวกังวลกับคำถามนั้นจนเกินไปค่ะ เพราะ Learning Hub มี 7 เทคนิคทางจิตวิทยามาฝาก ที่ไม่แน่ว่า 1 ใน 7 เทคนิคนี้ จะทำให้คุณเข้าใจตัวเองมากขึ้น แบบไม่ต้องเสียเวลามาก แต่คุ้มมากกับผลลัพธ์ที่จะได้รับกลับมา
      %p.blog1-p1 1) คุยกับตัวเองหน้ากระจก
      %p.blog1-p                 ผลวิจัยของ อาจารย์ Gary Lupyan and Daniel Swignley ที่ถูกเผยแพร่ทางนิตยสาร TIME ระบุว่า “คนที่พูดคุยกับตัวเองหน้ากระจก ไม่ใช่เรื่องบ้าหรือน่าอายอะไร แต่เป็นวิธีที่สามารถเรียกความมั่นใจ ทำให้กลายเป็นคนที่กล้าพูดกล้าคุยมากขึ้น ยิ่งกระจกบานใหญ่เท่าไหร่ ยิ่งเห็นผลลัพธ์ชัดเจนมากขึ้นเท่านั้น และมีแนวโน้มทำให้การรับรู้ของสมองดีขึ้นอีกด้วย”   
      %p.blog1-p                 ถ้าคุณยังไม่รู้จะเริ่มต้นพูดคุยกับตัวเองอย่างไร? แนะนำให้ยืนอยู่หน้ากระจกสักพักค่ะ ค่อยๆ ยิ้มกับตัวเองช้าๆ จนเริ่มรู้สึกว่าฉันกำลังยืนอยู่ในพื้นที่ปลอดภัย ก่อนจะเริ่มต้นคำถามง่ายๆ อย่างที่เราใช้ทักทายกับคนอื่น เช่น วันนี้รู้สึกยังไง, เครียดมั้ย, คิดอะไรอยู่  
      %p.blog1-p                 การฝึกพูดคุยกับตัวเอง จะช่วยให้คุณได้ระบาย สิ่งที่อัดอั้นอยู่ในใจออกมา รวมทั้งเป็นการป้อนข้อมูลให้กับจิตใจคุณด้วยค่ะ ที่สำคัญอย่าลืมเลือกประโยคที่สร้างพลังให้ตัวเอง อย่างเช่น ฉันทำได้,ฉันเก่ง, ฉันผ่านเรื่องแย่ๆ ไปได้อยู่แล้ว ถ้อยคำเหล่านี้ล้วนสร้างแรงบันดาลใจ เพิ่มพลังในด้านบวกให้คุณทั้งสิ้น โดยที่ไม่ต้องรอฟังจากใครเลยค่ะ
      %p.blog1-p1 2) ให้ความสงบกับตัวเอง
      %p.blog1-p                 งานวิจัยระบุว่า การเข้าสังคมบางครั้งทำให้คนเราเครียดยิ่งกว่าเดิม แม้แต่เฟซบุ๊กยังมีผลการวิจัยยืนยันว่ายิ่งคุณมีเพื่อนมากเท่าไหร่ ความเครียดยิ่งเพิ่มขึ้นเท่านั้น เพราะเวลาจะพิมพ์หรือโพสอะไรลงไป คุณจะชะงักและหยุดคิดมากขึ้น เนื่องจากคุณแคร์ว่าเพื่อนในโลกออนไลน์ จะไม่พอใจหรือรู้สึกไม่ดีต่อคุณนั่นเองค่ะ 
      %p.blog1-p                 เคล็ดลับการให้ความสงบกับตัวเอง จึงเหมาะสำหรับคนยุคโซเชียลอย่างแท้จริงแค่เริ่มต้นด้วยการวางโทรศัพท์มือถือ เลิกเสพข่าวออนไลน์ อย่างน้อยวันละ 5-10 นาที นั่งอยู่ในที่สงบเงียบสักพัก ฟังเสียงหัวใจเต้นดู ไม่แน่นะคะเสียงหัวใจที่ค่อยๆ ดังขึ้น ดังขึ้นจะทำให้คุณเข้าใจได้ว่าจริงๆ แล้ว ตัวเองต้องการอะไร ?
      %p.blog1-p                 “’ริชาร์ด เกียร์’” ดาราดังระดับฮอลลีวูด ก็เลือกใช้วิธีนีค่ะ ใครจะรู้ว่าดาราดังระดับโลกจะมีเวลาทำสมาธิได้? แต่ตรงกันข้ามเลย เพราะ “’ริชาร์ด เกียร์’” มักจะหาเวลาปลีกวิเวกและศึกษาธรรมะที่ทิเบตอยู่บ่อยครั้ง ตั้งแต่อายุ 24 ปี จนเขาตั้งเป้าหมายในการทำสมาธิไว้ว่า “เราทำสมาธิเพื่อที่เราจะได้มีความสุขมากขึ้น มันเป็นแนวทางปฏิบัติที่จะพาพวกเราผ่านพ้นความทุกข์ มุ่งหน้าสู่ความสุข แต่เป็นเพราะเราไม่รู้ว่าจะต้องทำอย่างไร ชีวิตจึงดูวุ่นวายสับสนทุกครั้งไป”  
      %p.blog1-p                 ถ้าวันนี้คุณกำลังรู้สึกสับสนอยู่ แค่วางโทรศัพท์ลง มองโลกตรงหน้า แล้วยิ้มให้มันดูสักครั้ง รับรองว่าความรู้สึกที่ตัวคุณได้รับจะเปลี่ยนไป 
      %p.blog1-p1 3) ใช้เวลาไปกับสิ่งที่ชอบ
      %p.blog1-p                 ถ้าไม่นับชีวิตประจำวัน กิน นอน เล่นเกมส์ จับโทรศัพท์มือถือ กิจกรรมอื่นๆ ที่คุณชอบทำนอกเหนือจากนี้คืออะไรคะ ? เมื่อพบแล้ว ลองให้เวลากับตัวเองได้ทำสิ่งเหล่านั้นดูบ้าง เพราะช่วงเวลาที่คุณใช้ไปโดยไม่สนใจว่าตอนนี้กี่โมงแล้วนี้ล่ะ จะทำให้คุณค้นพบและรู้จักตัวเองมากขึ้นอีกด้าน ได้รู้ว่าอะไรที่ตัวเองชอบทำและอะไรที่ไม่ชอบเลย?
      %p.blog1-p                 สิ่งที่ชอบกับเวลาที่ใช้ไป จะเป็นกระจกสะท้อนตัวคุณเอง โดยที่ไม่ต้องรอให้คนอื่นมาบอก ซึ่งคุณเองก็สามารถใช้เคล็ดลับนี้สำรวจตัวเองได้ด้วย อย่างเช่น ถ้าคุณชอบปลูกต้นไม้ ก็มีแนวโน้มว่าคุณจะเป็นคนใจเย็น รักธรรมชาติ ไม่ชอบความวุ่นวาย  รักสงบ  
      %p.blog1-p                 การที่รู้ว่าตัวเองชอบอะไรไม่ชอบอะไร อาจกลายเป็นจุดเริ่มต้นในการประสบความสำเร็จอย่างสูงสุดก็ได้นะคะ เพราะคนดังระดับโลกหลายคนก็ค้นพบนวัตกรรมใหม่ๆ ผ่านสิ่งที่ตัวเองชอบ อาทิ สตีฟ จอบส์ (ผู้ก่อตั้ง Apple), บิล เกตส์ (เจ้าพ่อวงการไมโครซอฟ) ก็ล้วนสำเร็จจากการค้นพบสิ่งที่ตัวเองชอบทั้งนั้น 
      %p.blog1-p1 4) หยุดเปรียบเทียบตัวเองกับคนอื่น
      %p.blog1-p                 “คนที่ให้คุณค่าตัวเราได้ คือตัวเราเอง”  นี่คือเคล็ดไม่ลับอับดันต้นๆ เลยค่ะ  ที่จะทำให้คุณหันมารักตัวเองมากขึ้น เห็นคุณค่าตัวเองมากขึ้น แต่สิ่งที่ต้องทำอันดับแรกเลยคือ “หยุดพฤติกรรมเอาตัวเองไปเปรียบเทียบกับคนอื่น” ว่าเค้าดีแบบนั้น เราไม่ดีแบบนี้ เรามีไม่เท่าเค้า เค้ามีดีกว่า 
      %p.blog1-p                 เพราะสิ่งที่เราคิดนี่ล่ะค่ะ จะทำให้จินตนาการทำงานมากกว่าปกติ  คิดบวกได้บวก คิดลบได้ลบ ถึงขนาดว่ามีผลวิจัยจากสถาบันสาธารณสุข มหาวิทยาลัยเยล ประเทศสหรัฐอเมริกา ออกมายืนยันแล้วว่า ผู้ที่มีความคิดด้านลบทั้งต่อตัวเอง ต่อโลก มักสมองเสื่อมเร็วกว่าคนที่ใช้ชีวิตแบบคิดบวก 
      %p.blog1-p                 หากคุณกำลังเป็นคนหนึ่งที่คิดมาก ขี้กังวลจนรู้สึกนอยด์บ่อยๆ ลองนำเคล็ดลับนี้ ไปใช้ดูนะคะ แล้วหันมาหาข้อดีของตัวเองดูแบบจริงๆ จังๆ สักครั้ง การตอบคำถามคนอื่นได้ชัดถ้อยชัดคำ ว่าตัวคุณเองทำอะไรได้ดี หรือบอกได้ว่าตัวคุณเองชอบอะไร? จะทำให้คุณเข้าใจตัวเองมากขึ้น และเครียดกับข้อเสียของตัวเองน้อยลง นั่นเพราะคุณรู้สึกภูมิใจในตัวเองนั่นเองค่ะ 
      %p.blog1-p1 5) สังเกตคนรอบตัว
      %p.blog1-p                 “คนแบบเดียวกัน มักดึงดูดคนแบบเดียวกัน” นี่คือสิ่งที่เรียกว่า กฎแห่งแรงดึงดูด  (Law of Attraction) ที่อธิบายได้ง่ายๆ ว่าสิ่งที่เหมือนกันจะมีแรงดึงดูดเข้าหากัน ดังนั้นถ้าคุณมองไม่เห็นตัวเอง การมองไปยังคนรอบๆ ตัวคุณ เพื่อนที่คุณคบ แฟนที่คุณมี เจ้านายในบริษัทก็น่าจะเป็นกระจกชั้นดีที่สะท้อนความเป็นตัวตนคุณออกมาได้ ไม่มากก็น้อย 
      %p.blog1-p                 เมื่อเห็นว่าคนรอบข้างเป็นเช่นไร คุณเองก็อาจเป็นเช่นนั้นค่ะ นั่นเพราะทัศนคติที่ไปในทิศทางเดียวกันทำให้พวกคุณและคนรอบตัว มาอยู่ใกล้ๆ กัน เป็นหลักการสังเกตและเข้าใจตัวเองได้ง่ายๆ ที่น่าลองดู
      %p.blog1-p                 หลักการนี้ วาทยกรชาวไทยที่มีชื่อเสียงในระดับโลกอย่าง “คุณบัณฑิต อึ้งรังษี”  ก็นำไปใช้ในชีวิตจริงจนประสบความสำเร็จในชีวิต ทั้งด้านการงาน การเงิน ครอบครัว นั่นเพราะเค้าเลือกจะนำพาตัวเองไปอยู่ท่ามกลางคนเก่งๆ ระดับโลก ใช้การซ้อมอย่างหนักหน่วงกับคนมีฝีมือ ได้รู้จักตัวเองมากขึ้นว่าถนัดอะไรแล้วมุ่งมั่นพัฒนา จนเค้ากลายเป็นคนไทย 1 ใน 9 คนจากทั่วโลก ที่ได้รับเชิญไปศึกษาที่ Carnegie Hall ในมหานครนิวยอร์ก สหรัฐอเมริกา
      %p.blog1-p1 6) เขียน เขียนและเขียนออกมา
      %p.blog1-p                 การเขียนเป็นการระบายสิ่งที่อยู่ในใจได้ดีอีกวิธีหนึ่ง อาจฟังดูตลกสำหรับคนที่ไม่เคยจับปากกามาเขียนเรื่องราวของตัวเอง แต่นักจิตวิทยากลับพบว่า การเขียนช่วยให้คนเรารู้สึกโล่งมากขึ้น แถมยังช่วยระบายความเครียดได้ดี 
      %p.blog1-p                 แต่แทนที่คุณจะเขียนระบายความในใจ ลองเปลี่ยนมาเขียนสิ่งที่ตัวเองต้องการในอนาคต เขียนข้อดีที่คุณมี เขียนข้อเสียที่คนอื่นเคยติติงไว้ เขียนสิ่งที่ชอบทำและไม่ชอบทำ
      %p.blog1-p                 เมื่อเสร็จแล้วลองนำกลับมาอ่านทบทวนดูอีกครั้งนะคะ เสมือนคุณได้อ่านคู่มืออธิบายความเป็นตัวเองฉบับย่อๆ  นั่นเพราะคนที่เขียนไม่ใช่ใครแต่เป็นตัวคุณเองค่ะ
      %p.blog1-p1 7) ฟังเพลงที่ชอบ ซ้ำไปซ้ำมา
      %p.blog1-p                 ศาสตราจารย์ เอเดรียน นอร์ท (Adrian North) ผู้เชี่ยวชาญด้านดนตรีจิตวิทยา ได้ทำการศึกษาพบว่า แนวดนตรีที่คนเราชอบฟัง สามารถแสดงถึงอุปนิสัยและความคิดได้ อาทิ  คนที่ชอบฟังเพลงคลาสสิค จะมีความเคารพตนเองสูง มีความคิดสร้างสรรค์ เป็นคนเก็บตัว
      %p.blog1-p                 คนที่ชอบฟังเพลงแนวอินดี้ จะมีความคิดสร้างสรรค์ แต่มีความเคารพในตัวเองต่ำ ไม่มีความขยัน, ชอบฟังเพลงฮิตติดชาร์ต เป็นคนมีความเคารพในตัวเองสูง ขยัน เข้ากับคนอื่นได้ง่ายแต่ไม่มีความคิดสร้างสรรค์ และค่อนข้างปิดตัวเอง
      %p.blog1-p                 ว่าแล้วก็ลองเปิดเพลงที่ตัวเองชอบฟังดูสักหน่อยสิคะ ก่อนกลับมาย้อนดูผลวิจัยว่าแม่นยำตรงกับความเป็นคุณมากน้อยแค่ไหน? ข้อดีไหนรู้แล้วก็นำไปต่อยอดได้ 
      
      %p.blog1-p แหล่งอ้างอิง: Talking to Yourself May Actually Be A Good Idea , พระเอกดังฮอลลีวูด ‘ริชาร์ด เกียร์’ บนวิถีแห่ง “การเจริญภาวนา”
