.wrapper
  %nav#sidebar
    .sidebar-header
      %h3.sidebar 
        =image_tag "tortoise.png", {:class=> "blog2-img"}
        Mental & Physical Health
    %ul.list-unstyled.components
      %li.active
        %a{:href => "/health"}
          %i.fas.fa-dumbbell
          Health
        %a{:href => "/mental"}
          %i.fas.fa-heartbeat
          Mental
        %a{:href => "/food"}
          %i.fas.fa-utensils
          Food For You           
        %a{:href => "/about"} 
          %i.fas.fa-address-card
          About Us
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %button#sidebarCollapse.btn.btn-info{:type => "button"}
          %i.fas.fa-bars
          %span 
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-user-circle
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item.dropdown-color{:href => "/"} Logout
    %center
      %h1.title-blog สติ..เปลี่ยนคุณเป็นคนใหม่..
    =image_tag "sati.jpg", {:class=> "blog1-img"}
    .align-blog1
      %p.blog1-p                 มนุษย์เราเมื่อเกิดมาล้วนต้องการความสุข แต่วิธีการสร้างสุขอาจแตกต่างกันไปขึ้นอยู่กับมุมมองของแต่ละคนและประสบการณ์ อาจมีรูปแบบที่หลากหลาย เช่นดูแลสุขภาพร่างกายให้แข็งแรง ฝึกจัดการกับอารมณ์ อยู่ในสิ่งแวดล้อมที่ดี มีสัมพันธภาพที่ดีกับครอบครัวหรือบุคคลอื่น  แต่ขณะเดียวกันก็พบว่ากลับทำสิ่งที่กล่าวมานั้นได้ยาก เพราะมักทำอะไรอย่าง “ไม่มีสติ” หรือ “เผลอ” เช่นเผลอกินตามใจปากจนน้ำหนักเกิน ออกกำลังกายได้ไม่กี่ครั้งก็เบื่อหน่าย  เวลาถูกต่อว่าก็พูดสวนกลับไปทันที  ของหายเป็นประจำเพราะวางไม่ถูกที่  เดินไม่ระวังทำให้สะดุดหกล้ม ลืมกินยาหรือลืมของเป็นประจำ  หากคุณเป็นคนอย่างที่กล่าวมาข้างต้น  ถึงเวลาแล้วหรือยังที่จะมาลองนำสติมาใช้ในชีวิตประจำวันดู
      %p.blog1-p1 สติหมายถึงอะไร...? 
      %p.blog1-p                 คำว่า สติ (mindfulness, sati) หมายถึง การรู้ตัว หรือความไม่เผลอ เป็นภาวะจิตที่ทำงานไม่ถูกสอดแทรกด้วยอารมณ์   ปัจจุบันมีการนำแนวทางการพัฒนาสติมาใช้ทั้งการบำบัดป้องกันโรคทางจิตใจ  การพัฒนาคุณภาพการทำงานขององค์กร และการส่งเสริมสุขภาพมากขึ้น พบว่าผู้ที่ฝึกสติเป็นประจำ จะเกิดการเปลี่ยนแปลงของคลื่นสมอง ทำให้มีความสงบมากขึ้น ลดความเครียดได้ และเกิดการเปลี่ยนแปลงที่สมองส่วนหน้า ทำให้เกิดการเรียนรู้ ความจำ การวางแผน การตัดสินใจและกำหนดทางเลือกที่ดีขึ้น มีการใช้เหตุผลในการแก้ปัญหา รับรู้เข้าใจความคิดของตนเอง โดยมีความยั้งคิดมากขึ้น จัดการกับอารมณ์ของตนเองได้และปรับตัวเข้ากับคนอื่นได้ดีขึ้น
      %p.blog1-p1 จะฝึกสติได้อย่างไร?..
      %p.blog1-p                 ทำง่ายๆด้วยการ “รู้ลมหายใจ รู้กิจที่ทำ” เริ่มต้นด้วยการ รู้ลมหายใจ.. มีสติรู้ลมหายใจเข้าออกที่เป็นปัจจุบันสัก 20% อีก 80% ให้จดจ่อกับสิ่งที่ตนเองทำ โดยไม่มีอารมณ์มาสอดแทรก  เมื่อรู้ลมหายใจรู้ในกิจที่ทำแล้ว สามารถนำไปใช้กับกิจวัตรประจำวันได้ เช่น
      %p.blog1-p                 - เวลาทำงาน ให้รับรู้ลมหายใจ มุ่งอยู่กับสิ่งที่ทำ ตัดความสนใจรอบข้างออกจะทำงานได้ดีขึ้น
      %p.blog1-p                 - เวลาทำงานบ้าน ให้รับรู้ลมหายใจ ตั้งใจอยู่กับกิจวัตร งานบ้านที่ทำ ไม่วอกแวกกับสิ่งอื่น
      %p.blog1-p                 - ก่อนจะกินเพลิน ให้รับรู้ลมหายใจ แล้วหยุดคิดสักนิดว่าหิวหรือไม่ ควรกินในปริมาณเมื่อใดและควรหยุดเมื่อใด
      %p.blog1-p                 - เวลาเดิน ไปในท้องถนน ให้รู้ลมหายใจ ใจจดจ่ออยู่กับเท้าที่เดินและทางข้างหน้า
      %p.blog1-p                 - ก่อนใช้ Social media  ให้รู้ลมหายใจ แล้วไตร่ตรองสักนิดก่อนจะแสดงความคิดเห็น หรือแชร์ข้อมูล
      %p.blog1-p                 - ก่อนจะใช้จ่าย ให้รับรู้ลมหายใจ และยั้งคิดก่อนว่าสิ่งนั้นจำเป็นต่อชีวิตหรือไม่
      %p.blog1-p                 - ก่อนจะทิ้งขยะลงในที่สาธารณะ ให้รับรู้ลมหายใจแล้ว คิดถึงผลที่ตามมา
      %p.blog1-p                 - ก่อนจะโต้เถียงกับผู้อื่น ให้รับรู้ลมหายใจ หยุดสักนิด ถอยออกมาจากตรงที่มีปัญหา
      %p.blog1-p1 หากทำได้ควรฝึกสติอย่างสม่ำเสมอ ต่อเนื่องทุกวัน
      %p.blog1-p                 การนำ“สติ” มาประยุกต์ใช้ในชีวิตประจำวัน การทำงาน ชีวิตครอบครัวและการสร้างสัมพันธภาพในสังคม จะช่วยลดปัญหาสุขภาพที่เป็นอยู่เดิม  เพิ่มศักยภาพในการคิดและการแก้ปัญหาต่าง ๆ เกิดมุมมองใหม่ทางบวกในการดำเนินชีวิต  ส่งเสริมสุขภาพกายและจิต สามารถดำเนินชีวิตและทำงานได้อย่างมีความสุข นั่นคือ.สติจะเปลี่ยนคุณเป็นคนใหม่..


      %p.blog1-p แหล่งอ้างอิง: กลุ่มที่ปรึกษากรมสุขภาพจิต กรมสุขภาพจิต กระทรวงสาธารณสุข