.wrapper
  %nav#sidebar
    .sidebar-header
      %a{:href => "/home"}
      %h3.sidebar 
        =image_tag "tortoise.png", {:class=> "blog2-img"}
        Mental & Physical Health
    %ul.list-unstyled.components
      %li.active
        %a{:href => "/health"}
          %i.fas.fa-dumbbell
          Health
        %a{:href => "/mental/1"}
          %i.fas.fa-heartbeat
          Mental
        %a{:href => "/food"}
          %i.fas.fa-utensils
          Food For You
        %a{:href => "/about/1"} 
          %i.fas.fa-address-card
          About Us
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %button#sidebarCollapse.btn.btn-info.login-bar{:type => "button"}
          %i.fas.fa-bars
          %span 
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-user-circle
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item.dropdown-color{:href => "/"} Logout
    .row.blog-box
      .col-md-4
        %h1 Mental Blog
    .row.blog-box
      .col-sm-6.col-lg-6
        .card
          .card-topper{:style => "background-image: url(https://dol.thaihealth.or.th/File/media/1decad36-cbca-4d4b-a94f-273e56f61f7c.png);"}
          .card-block
          %h4.card-title ปรับอารมณ์สู่สมดุลภายใน 4 นาที
          %p.published-date Nov 19,2019
          %a.mg{:href => "/blog1"}
            %input.btn.post-button-mental{:name => "commit", :type => "submit", :value => "Read more"}
          %p.card-text
      .col-sm-6.col-lg-6
        .card
          .card-topper{:style => "background-image: url(http://www.prdmh.com/images/book/Article/Depression-01.jpg);"}
          .card-block
          %h4.card-title รู้จักเเละเข้าใจโรค 'ซึมเศร้า'
          %p.published-date Nov 19,2019
          %a.mg{:href => "/blog2"}
            %input.btn.post-button-mental{:name => "commit", :type => "submit", :value => "Read more"}
          %p.card-text
    .row.blog-box      
      .col-sm-6.col-lg-6
        .card
          .card-topper{:style => "background-image: url(http://www.prdmh.com/images/book/Article/World_bipolar_day.jpg);"}
          .card-block
          %h4.card-title  ไบโพลาร์" หรือ "โรคอารมณ์สองขั้ว"
          %p.published-date Nov 20,2019
          %a.mg{:href => "/blog3"}
            %input.btn.post-button-mental{:name => "commit", :type => "submit", :value => "Read more"}
          %p.card-text          
      .col-sm-6.col-lg-6
        .card
          .card-topper{:style => "background-image: url(https://learninghubthailand.com/wp-content/uploads/2018/07/7-tip-to-help-you-well-understand-yourself.jpg);"}
          .card-block
          %h4.card-title 7 เทคนิคจิตวิทยา ที่ทำให้คุณเข้าใจตัวเองมากขึ้น
          %p.published-date Nov 20,2019
          %a.mg{:href => "/blog4"}
            %input.btn.post-button-mental{:name => "commit", :type => "submit", :value => "Read more"}
          %p.card-text
    .row.blog-box      
      .col-sm-6.col-lg-6
        .card
          .card-topper{:style => "background-image: url(http://www.prdmh.com/images/book/Article/Mental_health_week_day.jpg);"}
          .card-block
          %h4.card-title สติ..เปลี่ยนคุณเป็นคนใหม่..
          %p.published-date Nov 21,2019
          %a.mg{:href => "/blog5"}
            %input.btn.post-button-mental{:name => "commit", :type => "submit", :value => "Read more"}
          %p.card-text
      .col-sm-6.col-lg-6
        .card
          .card-topper{:style => "background-image: url(https://img.kapook.com/u/2018/wanchalerm/Health_01_61/J2.jpg);"}
          .card-block
          %h4.card-title รวมศูนย์ปรึกษาปัญหาสุขภาพจิต
          %p.published-date Nov 21,2019
          %a.mg{:href => "/blog6"}
            %input.btn.post-button-mental{:name => "commit", :type => "submit", :value => "Read more"}
          %p.card-text    

