.wrapper
  %nav#sidebar
    .sidebar-header
      %h3.sidebar 
        =image_tag "tortoise.png", {:class=> "blog2-img"}
        Mental & Physical Health
    %ul.list-unstyled.components
      %li.active
        %a{:href => "/health"}
          %i.fas.fa-dumbbell
          Health
        %a{:href => "/mental"}
          %i.fas.fa-heartbeat
          Mental
        %a{:href => "/food"}
          %i.fas.fa-utensils
          Food For You             
        %a{:href => "/about"} 
          %i.fas.fa-address-card
          About Us
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %button#sidebarCollapse.btn.btn-info{:type => "button"}
          %i.fas.fa-bars
          %span 
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-user-circle
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item.dropdown-color{:href => "/"} Logout
    %center
      %h1.title-blog  12 ร้านก๋วยเตี๋ยวเจ้าเด็ด
  
    =image_tag "noodle.jpg", {:class=> "blog1-img"}
    .align-blog1
      %p.blog1-p1 1. ร้านก๋วยเตี๋ยวลูกชิ้นปลาเจ้าเด็ด 
      %p.blog1-p                 ที่มีลูกค้าแน่นเต็มร้านทุกวัน มี 2 สาขา บางขุนนนท์ กับ พุทธมณฑลสาย 4 ค่ะ มีเมนูก๋วยเตี๋ยวปลาให้เลือกมากมาย แนะนำเป็น เมนูก๋วยเตี๋ยวต้มยำ น้ำซุปปรุงรสได้ถึงใจ แทบไม่ต้องปรุงเพิ่มเลยค่ะ มีเส้นให้เลือกกันทั้ง เส้นใหญ่ เส้นเล็ก เส้นหมี่ บะหมี่ หรือวุ้นเส้น และทีเด็ดของร้านหนีไม่พ้นลูกชิ้นปลาค่ะ ลูกใหญ่ๆ ทำจากเนื้อปลาแท้ๆ ไม่เหม็นกลิ่นคาว แถมเด้งอร่อย กำลังดี ทานกับหนังปลาทอดกรอบสักหน่อย รับรองว่าต้องสั่งเบิ้ลอีกชามกันเลย
      %p.blog1-p1 2. ร้าน ก๋วยเตี๋ยวเรือสำราญทอง 
      %p.blog1-p                 ร้านก๋วยเตี๋ยวเรือตุ๋นยาจีนรสเด็ดย่านสามย่านที่ครองใจผู้คนแถวนี้มายาวนาน ด้วยความอร่อยระดับที่ต้องยกนิ้วให้ กับเมนูแนะนำ ก๋วยเตี๋ยวเรือไข่ยางมะตูม น้ำซุปต้มจากกระดูกหมูตุ๋นรวมกับเครื่องยาจีนผสมกับความเป็นก๋วยเตี๋ยวเรือของไทย ทำให้รสชาติที่ได้ออกมามีเอกลักษณ์เฉพาะตัว ไข่ต้มยางมะตูมของทางร้านก็ถือว่าเป็นทีเด็ด เพราะทางร้านใช้ไข่เป็ดมาต้มให้เป็นยางมะตูม สามารถใส่เพิ่มในก๋วยเตี๋ยวได้ทุกชาม ทำให้ได้รสชาติที่อร่อยขึ้นไปอีกค่ะ อีกทั้งใครที่ชอบเนื้อ ร้านนี้ก็มี ก๋วยเตี๋ยวเนื้อน่องลาย ให้เลือกทานกันด้วยค่ะ ขอบอกว่ารสชาติก็อร่อยไม่แพ้ก๋วยเตี๋ยวหมูของทางร้านเลย
      %p.blog1-p1 3. ร้าน ก๋วยเตี๋ยวไก่เบตง  
      %p.blog1-p                 ก๋วยเตี๋ยวไก่เบตงสูตรนี้มีมานานกว่า 27 ปีแล้ว เดิมทีร้านนี้เปิดอยู่ที่อำเภอเบตง จังหวัดยะลา ก่อนจะย้ายมาประจำสาขาที่กรุงเทพฯ ค่ะ ทีเด็ดของร้านนี้อยู่ที่น้ำซุปสีดำเข้มข้นสูตรลับของทางร้าน โดยสูตรนี้ได้สืบทอดมาจากรุ่นสู่รุ่น ที่ใช้ทั้งสมุนไพรของทั้งไทยและจีนในการทำ นำมาปรุงจนรสชาติที่ออกมาเป็นเอกลักษณ์ แถมมีเครื่องต้มยำที่มีระดับความเผ็ดให้เลือกอีกด้วยค่ะ อีกทั้งยังสามารถสั่งขาไก่ตุ๋นมาทานได้ด้วยนะ
      %p.blog1-p1 4. ร้าน วิชัยบริการ  
      %p.blog1-p                 ร้านก๋วยเตี๋ยวเจ้าเด็ดในตำนานที่อยู่มานานกว่า 60 ปี ก๋วยเตี๋ยวเย็นตาโฟ เครื่องแน่น มีทั้งลูกชิ้นปลา ปลาเส้น เกี๊ยวกรอบ หนังปลาทอดกรอบ หมูชิ้น หมูสับ แน่นเต็มจาน เมนูแนะนำ คือ ก๋วยเตี๋ยวต้มยำ ที่ปรุงรสน้ำยำได้แซ่บจัดจ้านถึงใจ เส้นเหนียวนุ่มกำลังดี จะสั่งเส้นหมี่ เส้นเล็ก เส้นใหญ่ หรือบะหมี่ ก็อร่อยไม่แพ้กัน เพิ่มความอร่อยด้วยหมูสับและหมูชิ้นที่ลวกออกมาได้นุ่ม ไม่เหม็นกลิ่นคาว อีกทั้งยังโรยเกี๊ยวกรอบให้เคี้ยวกันเพลินๆ
      %p.blog1-p1 5. ร้าน ก๋วยเตี๋ยวเป็ดเป่าปากเสรีไทย 
      %p.blog1-p                 สูตรดั้งเดิมสรงประภา ร้านก๋วยเตี๋ยวเป็ดเจ้าอร่อยที่ไม่ต้องไปหากินที่ไหนไกลค่ะ ร้านนี้มีเมนูเป็ดๆ ทั้งหลาย เช่น ก๋วยเตี๋ยวเป็ดตุ๋น ข้าวหน้าเป็ด เนื้อเป็ด เกาเหลา ไส้แก้ว ทีเด็ดของร้านอยู่ที่เป็ดตุ๋นค่ะ เนื้อเป็ดเปื่อยนุ่มกำลังดี ทานง่าย เข้ากันดีกับน้ำซุปพะโล้รสเข้มข้น หรือจะใส่ไส้แก้วเพิ่ม ก็ไม่ว่ากันค่ะ เป็ดพะโล้ของทางร้านก็เด็ด หนังนุ่มๆ เนื้อเหนียวเคี้ยวหยุบหยับกำลังดี หรือถ้ายังไม่อิ่ม ก็สั่งเนื้อเป็ด อะไหล่เป็ด มาทานเล่นกันได้นะคะ ราคาเริ่มต้นที่ 40 บาท
      %p.blog1-p1 6. ร้าน มู๋มู๋ อีทเทอรี Moo Moo Eatery 
      %p.blog1-p                 เมนูทางร้านที่น่าทาน เช่น ไดโนเสาร์ภูเขาไฟ (ราคา 70 บาท) บะหมี่น้ำต้มยำ (ราคา 70 บาท) ขอบอกว่าร้านนี้มีให้เลือกทั้งก๋วยเตี๋ยว และเมนูข้าวต่างๆ ด้วยนะ
      %p.blog1-p1 7. ร้าน แซว ก๋วยเตี๋ยวลูกชิ้นปลา 
      %p.blog1-p                 ปากซอยทองหล่อ อยู่ปากซอยทองหล่อ ติดกับถนนสุขุมวิท สามารถเดินทางด้วยรถไฟฟ้า BTS สถานีพร้อมพงษ์ และ สถานีทองหล่อค่ะ เมนูเด็ดของทางร้านมีมากมาย เช่น ก๋วยเตี๋ยวลูกชิ้นปลา หมูสับสูตรแซว ที่เครื่องแน่นจัดเต็มทุกชาม เอาเป็นว่าน่าทานทุกเมนูเลยค่า อิอิ ราคาอาหารเริ่มต้นที่ 50 บาท
      %p.blog1-p1 8. ร้าน เจริญรัถเป็ดพะโล้ 
      %p.blog1-p                 ร้านก๋วยเตี๋ยวเป็ดที่พลาดไม่ได้ด้วยประการใดทั้งปวงงงงง เพราะร้านนี้แน่นอนว่าเป็นร้านเป็ดพะโล้ก็ต้องขึ้นชื่อเรื่องเป็ดพะโล้อร่อยอยู่แล้ว แต่ร้านนี้ยังมีทีเด็ดที่ ไส้แก้วพะโล้ ที่นุ่มหนึบหนับ เคี้ยวเพลิน ทานเดี่ยวๆ ก็ได้ ทานกับข้าวสวยร้อนๆ ก็ดี หรือจะใส่ในก๋วยเตี๋ยวก็ยิ่งอร่อยเหาะกว่าเดิมค่า อีกทั้งร้านนี้ยังเป็นร้านก๋วยเตี๋ยวเป็ดที่เปิดช่วงเย็น ตั้งแต่ 5 โมงเย็นเป็นต้นไป จนถึง 5 ทุ่มครึ่ง เอาใจคนนอนดึกกันมากๆ ถ้าใครที่อยู่ดึกๆ แล้วท้องร้องหิวขึ้นมา อยากทานอะไรร้อนๆ อร่อยๆ แนะนำร้านนี้เลย ราคาเริ่มต้นที่ 40 บาท
      %p.blog1-p1 9. ร้าน ก๋วยเตี๋ยวเตาถ่านออนเซ็น  
      %p.blog1-p                 ร้านก๋วยเตี๋ยวสุดอร่อย ร้านเด็ดร้านดังที่หลายคนที่ได้มีโอกาสไปทานต้องบอกเลยว่าติดใจทุกคน เพราะอร่อยมากกกกก ลาก ก.ไก่ไปอีกล้านตัวเลยค่ะ จุดเด่นของร้านนี้อยู่ที่ทางร้านใช้เตาถ่านในการเคี่ยวน้ำซุปที่ทำจากกระดูกหมู 100% เคี่ยวจนเข้มข้น ใส ไม่มีตะกอน รสชาติหวานกลมกล่อมได้รสกระดูกหมูเเบบเต็มๆ วัตถุดิบของร้านก็จัดเตรียมอย่างพิถีพิถัน เเม้กระทั่งพริกเเละถั่วลิสงค่ะ เพราะทางร้านทำเอง คั่วเอง เมนูในร้านอร่อยแบบฝีมือเน้นๆ เพราะไม่ใช้ผงชูรส เนื้อหมูปลอดสาร รสชาติอร่อย นุ่ม ถูกสุขอนามัย ไร้สารเคมี บอกได้เลยว่าอร่อยเเถมได้สุขภาพที่ดีด้วยค่า ราคาเริ่มต้นที่ 59 บาท
      %p.blog1-p1 10. ร้าน บะหมี่จอมพลัง พุทธมณฑลสาย 1 
      %p.blog1-p                 บะหมี่ของร้านนี้เครื่องแน่น เส้นหนัก รสชาติเข้มข้นมากๆ จนทำให้หลายคนติดอกติดใจ ถ้าเป็นบะหมี่ธรรมดา ราคาเริ่มต้นที่ชามละ 50 บาท แต่จะมีราคาต่างกันไปตามเครื่องที่ใส่ ถ้าอยากทานแบบเครื่องแน่นๆๆๆๆๆ เยอะมากๆ ทานคนเดียวไม่หมด ต้องสั่งแบบ เฉี่ยวนรก (700 บาท)
      %p.blog1-p1 11. ร้าน ป.ประทีป ก๋วยเตี๋ยวเรืออยุธยา สาขาโพธิ์แก้ว 
      %p.blog1-p                 ใครเน้นทานรสจัด ร้าน ป.ประทีป ก๋วยเตี๋ยวเรืออยุธยา สาขาโพธิ์แก้ว จัดให้ ลองก๋วยเตี๋ยวเรือรสเด็ดจัดจ้าน ร้านนี้อาจพบความแซ่บสะใจแบบไม่ต้องปรุงเพิ่มเลยก็ได้ ทางร้านบอกว่าถั่วลิสงทางร้านคั่วเอง ตำเอง เพื่อคนที่ชอบกินเมนูแห้งโดยเฉพาะ ราคาเริ่มต้นที่ 18 บาท
      %p.blog1-p1 12. ร้าน วัฒนาพานิช เอกมัย 
      %p.blog1-p                 ร้านเป็นร้านดังย่านเอกมัย เรียกได้ว่าสายเนื้อไม่ควรพลาด ร้านนี้พิเศษที่นอกจากจะมีหมู เนื้อวัว แล้วยังมีเนื้อแพะและเครื่องในตุ๋นอีกด้วยค่ะ เนื้อของทางร้านต้องบอกว่าทำได้อย่างมืออาชีพ เพราะไม่มีกลิ่นสาป หรือกลิ่นคาวใดๆ ให้ต้องมารบกวนความอร่อยเลยค่ะ เมนูที่ไม่ควรพลาดเมื่อมาที่ร้านนี้คือ เกาเหลาเนื้อตุ๋น เเพะตุ๋น กะเพราเนื้อ ก๋วยเตี๋ยวแพะตุ๋น บอกเลยว่าน่าลองทุกเมนูเลยค่า ราคาเริ่มต้นที่ 50 บาท
      %p.blog1-p แหล่งอ้างอิง: https://www.ryoiireview.com/article/noodle-bkk