.wrapper
  %nav#sidebar
    .sidebar-header
      %h3.sidebar 
        =image_tag "tortoise.png", {:class=> "blog2-img"}
        Mental & Physical Health
    %ul.list-unstyled.components
      %li.active
        %a{:href => "/health"}
          %i.fas.fa-dumbbell
          Health
        %a{:href => "/mental"}
          %i.fas.fa-heartbeat
          Mental
        %a{:href => "/food"}
          %i.fas.fa-utensils
          Food For You             
        %a{:href => "/about"} 
          %i.fas.fa-address-card
          About Us
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %button#sidebarCollapse.btn.btn-info{:type => "button"}
          %i.fas.fa-bars
          %span 
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-user-circle
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item.dropdown-color{:href => "/"} Logout
    %center
      %h1.title-blog ร้านอาหารไทย 4 ภาคต้นตำรับเจ้าดังในกรุงเทพ       
    =image_tag "thaifood4.jpg", {:class=> "blog1-img"}
    .align-blog1
      %p.blog1-p1 1. ร้าน เรือนมัลลิการ์ 
      %p.blog1-p                 เรือนไทยไม้สักโบราณอายุกว่า 200 ปีแห่งนี้ คือ ร้านอาหารไทยที่ซ่อนตัวอยู่ในสวนสงบกลางใจเมือง เรือนมัลลิการ์บริการอาหารไทยแท้ตำรับชาววังรวมไปถึงอาหารที่หาทานได้ยากและตกแต่งจานด้วยผักแกะสลักที่ประณีตงดงาม กรรมวิธีการปรุงและคุณภาพอาหารที่ดีเลิศเสมอ จานพิเศษที่คุณห้ามพลาด เช่น ฉันชื่อบุษบา (ดอกไม้ทอดกรอบ) แกงส้มชะอมกุ้ง ยำหัวปลี
      %p.blog1-p1 2. ร้าน ครัวอัปษร  
      %p.blog1-p                 ร้านนี้อยู่บนถนนดินสอเป็นห้องตึกแถวติดกระจก มีแอร์เย็นสบาย บรรยากาศภายในร้านเรียบง่าย อาหารจะเป็นอาหารไทย ราคาก็ไม่แพงเลยเหมาะสมกับปริมาณ และที่สำคัญสุดคือรสชาติ อร่อยมาก จัดจ้านครบรสแบบอาหารไทย ถ้าเทียบรสชาติกับราคานี่ต้องบอกว่ารสชาติอร่อยเกินราคาจริง ๆ เมนูแนะนำคือ เนื้อปูผัดพริกเหลือง ทอดมันปลากราย และ ลาบเห็ดฟาง รสชาติถึงเครื่อง
      %p.blog1-p1 3. ร้าน เฮือนลำพูน
      %p.blog1-p                 ร้านอาหารเหนือรสชาติต้นตำรับแต้ๆ ที่อยู่แถวฝั่งธนฯ ค่ะ ใครอยู่แถวสวนผักสามารถไปทานได้เลยน๊า ร้านนี้มีเมนูอาหารเหนืออร่อยๆ มากมายค่ะ เมนูที่แนะนำ เช่น ข้าวผัดน้ำพริกหนุ่ม ยำมะเขือยาว ข้าวหนุกงา ตำเมือง ลาบคั่วหมู ปลานิลเผาเกลือ และของหวานแนะนำเป็นไอศกรีมกะทิขนมปังทรงเครื่องค่ะ รับรองว่าไม่ผิดหวังแน่นอนนน ราคาเริ่มต้นที่ 60 บาท
      %p.blog1-p1 4. ร้าน ที่นี่สถานีเชียงใหม่ 
      %p.blog1-p                 ร้านอาหารเหนือแบบฉบับของจังหวัดเชียงใหม่ ที่ตั้งอยู่ริมคลองแสนแสบในกรุงเทพฯ กันค่ะ ร้านนี้เน้นการตกแต่งแบบเรียบง่าย สบายๆ สไตล์ล้านนา เน้นความเป็นธรรมชาติ ให้ความรู้สึกเหมือนนั่งทานอาหารอยู่ที่ริมแม่น้ำปิง ร้านนี้จึงเป็นแหล่งรวมตัวสำหรับคนที่ชอบอาหารเหนือที่อยู่ในกรุงเทพฯ เมนูแนะนำก็จะเป็น น้ำพริกหนุ่ม น้ำพริกอ่อง ไส้อั่ว แหนม แคบหมู แกงฮังเล แกงขนุนกระดูกหมูอ่อน ขนมจีนน้ำเงี้ยว ลาบคั่วหมู และอีกมากมายค่ะ ราคาเริ่มต้นที่ 100 บาทขึ้นไป
      %p.blog1-p1 5. ร้าน มัลลิกา ชุมพร 
      %p.blog1-p                 รสชาติความเผ็ดร้อนของร้านนี้ คงปฎิเสธไม่ได้ว่า มันหรอยมากๆ และต้นตำหรับก็ส่งตรงมาจาก จ.ชุมพร แท้ๆ รวมไปถึงมีเมนูอาหารใต้ ให้เลือกทานเยอะแยะมากมาย
      %p.blog1-p1 6. ร้าน แก้วแกงใต้ 
      %p.blog1-p                 คนกรุงไม่ต้องไปไกล สัมผัสรสแกงใต้ชนิดถึงรสถึงชาติได้แล้ววันนี้ ที่ย่านพระราม 3! กับเครื่องพริกแกงสูตรลับเฉพาะของทางร้าน บรรยากาศร้านตกแต่งด้วยต้นเฟิร์นแท้ขนาดใหญ่ เพิ่มความสดชื่นให้ลูกค้า ผนังร้านมีลวดลายสวนยาง ให้กลิ่นอายชาวใต้แบบแท้ ๆ พร้อมเสิร์ฟเมนูเด็ด “แกงปูใบชะพลู” วัตถุดิบคัดสรรจากระยอง ในเครื่องแกงรสจัดจ้าน “หมูผัดกะปิยำสับปะรด” สันคอหมูนุ่ม ๆ ในรสยำสุดกลมกล่อม หรือจะเป็นกุ้งผัดเผ็ดสะตอ, ปลาหมึกต้มเค็มสับปะรด, แกงส้มปลากะพงสับปะรด ก็ย่อมได้ สาวกแกงใต้ต้องจัดแล้ว
      %p.blog1-p1 7. ร้าน ตำ 20 แจ้งวัฒนะ 14 
      %p.blog1-p                 แซ่บจัดจ้าน หลากเมนูอาหารไทย-อีกสานสุดแซ่บ ผสานความเป็นท้องถิ่นกับการปรับไอเดียใหม่ ๆ มาสรรสร้างเมนูสุดจัดจ้านในแต่ละจาน ราคาเป็นมิตรกับเงินในกระเป๋า ในบรรยากาศร้านเป็นแบบกึ่งเปิดโล่ง ทั้งรับลมธรรมชาติ แนะนำเมนูน่าลองอย่าง “ส้มตำ”, “ยำลาวแซลมอนแซ่บ” หรือจะเป็นเมนู “ไก่ย่างหมุน 360 องศา” บนเตาถ่านไม้ไผ่ธรรมชาติจนหนังกรอบหอมสะใจ
      %p.blog1-p1 8. ร้าน ยอดลาบเป็ดอุดร พระราม 9 
      %p.blog1-p                 อาหารอร่อย และสะอาดโดยเฉพาะลาบเป็ดซึ่งเป็นเมนูเด็ดของร้านอาหารอีสานนี้ รสชาติเข้มข้นและกลมกล่อมลงตัว ตัวร้านดูกว้างขวางมีทั้งส่วน Indoor และ Outdoor นั่งได้แบบสบาย ๆ บริการรวดเร็ว
      %p.blog1-p แหล่งอ้างอิง: https://www.wongnai.com/listings/thai-cuisine