.wrapper
  %nav#sidebar
    .sidebar-header
      %h3.sidebar 
        =image_tag "tortoise.png", {:class=> "blog2-img"}
        Mental & Physical Health
    %ul.list-unstyled.components
      %li.active
        %a{:href => "/health"}
          %i.fas.fa-dumbbell
          Health
        %a{:href => "/mental"}
          %i.fas.fa-heartbeat
          Mental
        %a{:href => "/food"}
          %i.fas.fa-utensils
          Food For You             
        %a{:href => "/about"} 
          %i.fas.fa-address-card
          About Us
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %button#sidebarCollapse.btn.btn-info{:type => "button"}
          %i.fas.fa-bars
          %span 
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-user-circle
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item.dropdown-color{:href => "/"} Logout
    %center
      %h1.title-blog  8 ร้านของหวานที่เปิดทั้งวันทั้งคืน
  
    =image_tag "Dessert.jpg", {:class=> "blog1-img"}
    .align-blog1
      %p.blog1-p1 1. ร้าน Sulbing International 
      %p.blog1-p                 ร้านขนมหวานสัญชาติเกาหลีที่มีสาขาให้เลือกทั้งในกรุงเทพฯ และต่างจังหวัดถึง 5 สาขา ซึ่งแต่ละสาขานั้นจะมีเปิดปิดที่แตกต่างกันออกไป แต่สำหรับสาขาอโศก โคเรียทาวน์ จะเปิดทุกวัน 24 ชม. ใครหิวตอนดึกก็สามารถนั่งรถไปนั่งกินขนมหวานชิลๆ กันได้เลยค่ะ สำหรับเมนูจะเป็นขนมหวานสัญชาติเกาหลีให้เลือกทานหลากหลายเมนู เช่น ซอลบิง หรือเมนูน้ำแข็งไส โดยมีทั้งเป็นเมนูเซ็ตที่จัดไว้แล้ว และมีท็อปปิ้งให้ลูกค้าเลือกใส่ได้ตามชอบ และเมนูโทสต์ รวมไปถึงเมนูน้ำอย่างม็อกเทลและสมูทตี้ 
      %p.blog1-p1 2. ร้าน Wake Up Coffee 
      %p.blog1-p                 ของหวานที่จะทำให้คุณหลงรักได้ตลอด 24 ชั่วโมง ส่วนเมนูที่อยากชวนให้มาหวานคือ Malon Snow ทางร้านบอกว่าเลือกใช้เมล่อนคุณภาพสูงจากไร่ มาพร้อมชีสสูตร Homemade รสชาติจะเป็นยังไงไปลองให้ถึงที่เลย
      %p.blog1-p1 3. ร้าน TOM N TOMS COFFEE 
      %p.blog1-p                 ร้านกาแฟที่คว้าใจคอกาแฟได้มากก็เจ้านี้เลยค่ะ TOM N TOMS COFFEE Thailand นอกจากหลายๆ ท่านจะติดใจความหอมละมุนของรสชาติกาแฟ เรื่องของหวานหลายเมนูก็ดูดีมีเสน่ห์จัดว่าถ้าได้ลองต้องอยากไปซ้ำหลายๆ รอบ ใครที่มีเวลาไม่แน่นอนร้านนี้มีหลายสาขาที่รอต้อนรับตลอด 24 ชั่วโมง
      %p.blog1-p1 4. ร้าน อ้วนกิ่งเพชร 
      %p.blog1-p                 ร้านนี้เปิดบริการ 24 ชั่วโมง นอกจากนี้ยังมีเครื่องดื่มกาแฟโบราณ นมสด ขนมปังเฉพาะแบบก้อน ธรรมดาราคา เนย+น้ำตาล (17 บาท) 
      %p.blog1-p1 5. ร้าน mycafe thailand 
      %p.blog1-p                 คาเฟ่เอาใจคนชอบนอนดึกหรือหิวดึก! เพราะร้านนี้เปิดบริการ 24 ชั่วโมงค่ะ เป็นร้านคาเฟ่ที่บริการทั้งอาหารคาวหวานเเละเครื่องดื่มครบครัน พร้อมบริการหนังสือดีๆ ให้อ่านเพียบ!! บรรยากาศร้านก็ดีมากๆ เลยค่ะ สามารถนั่งอ่านหนังสือไปพร้อมกับทานอาหารอร่อยได้อย่างสบายใจ หรือจะนัดกับเพื่อนมานั่งติวหรือคุยงานกันก็ไม่มีใครว่า เมนูอาหารของทางร้านก็มีเมนูเด็ดๆ เยอะเลยค่ะ ในส่วนของอาหารคาวต้องเมนูข้าวไข่ข้น อร่อยเด็ดกลมกล่อม อิ่มง่ายสบายท้อง ของหวานก็ต้อง โรตีเเป้งหวาน หวานหอม โดนใจ
      %p.blog1-p1 6. ร้าน Too Fast To Sleep 
      %p.blog1-p                 สายชิลเมื่อดึกแล้วไม่มีที่ไป ร้านนี้ก็เป็นอีกตัวเลือกนึงที่แนะนำเลยค่ะ เพราะด้วยบรรยากาศการตกแต่งร้านที่ดูแล้วสบายตา เอาใจคนรักการอ่านเพราะมีหนังสือให้อ่านเพลิน แถมปลั๊กไฟ และ wifi ฟรีไว้ให้ทั่วทั้งร้าน เรื่องอาหารเครื่องดื่มก็ไม่ต้องห่วง เพราะมีเมนูให้เลือกเยอะมาก
      %p.blog1-p1 7. ร้าน Think Thank 
      %p.blog1-p                 ร้านที่เปิดบริการ 24ชม. อีกหนึ่งร้านที่มีความกว้างขวางสามารถรองรับลูกค้าได้เกือบ 200 คน และแน่นอนว่าทุกที่นั่งมีปลั๊กไฟ และ wifi บริการแบบฟรีๆ ไม่คิดตังค์ ถ้าจะพูดถึงเรื่องอาหารก็มีบริการทั้งคาวและหวาน เครื่องดื่มก็มีให้เลือกหลายเมนูเลยค่ะ แอบบอกใครนั่งอยู่ถึงเช้า ทางร้านมีเมนูอาหารเช้าบริการด้วย
      %p.blog1-p1 8. ร้าน Let's Say Cafe 
      %p.blog1-p                 คาเฟ่เอาใจคนนอนดึกแถวอนุสาวรีย์ค่ะ คาเฟ่นี้เป็นที่รู้จักของนักศึกษาหลายๆ คน เพราะเป็นคาเฟ่ที่เปิดตลอด 24 ชั่วโมง อาหารอร่อย แถมราคาประหยัด จะมานั่งอ่านหนังสือหรือนั่งทำงานกันเรื่อยๆ ก็ตามสบายเลยจ้า เมนูอาหารของที่นี่จะเน้นไปที่ของหวานและเครื่องดื่ม
      %p.blog1-p แหล่งอ้างอิง: https://www.ryoiireview.com/article/dessert-sweets-open-24-hours