.wrapper
  %nav#sidebar
    .sidebar-header
      %h3.sidebar 
        =image_tag "tortoise.png", {:class=> "blog2-img"}
        Mental & Physical Health
    %ul.list-unstyled.components
      %li.active
        %a{:href => "/health"}
          %i.fas.fa-dumbbell
          Health 
        %a{:href => "/mental"}
          %i.fas.fa-heartbeat
          Mental
        %a{:href => "/food"}
          %i.fas.fa-utensils
          Food For You             
        %a{:href => "/about"} 
          %i.fas.fa-address-card
          About Us
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %button#sidebarCollapse.btn.btn-info{:type => "button"}
          %i.fas.fa-bars
          %span 
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-user-circle
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item.dropdown-color{:href => "/"} Logout
    %center
      %h1.title-blog 5 ร้านบุฟเฟ่ต์เนื้อย่างขั้นเทพ ราคาเบาๆ 
        
    =image_tag "Beef.jpg", {:class=> "blog1-img"}
    .align-blog1
      %p.blog1-p1 1. ร้าน BestBeef 
      %p.blog1-p                 ปิ้งย่างกระทะร้อนที่มีบริการทั้งเนื้อเเละซีฟู้ดที่คุณภาพที่ให้มากกว่าคำว่าพรีเมี่ยม มีทั้งเนื้อที่สไลด์บางๆ ย่างพร้อมเนยบนกระทะร้อนๆ เสียงดังซูซ่าส่งกลิ่นหอมเย้ายวนใจ เเละหมูชั้นดี หมึก กุ้ง หอย ซีฟู้ดสดๆ ใหม่ๆ เเถมความดีงามเพิ่มเติมคือ ร้านนี้มีทั้งปิ้งย่างเตาถ่าน หม้อไฟรับประกันความสดใหม่ทุกวัน
      %p.blog1-p1 2. ร้าน WaQ Yakiniku 
      %p.blog1-p                 มีเมนูอาหารที่หลากหลาย ทั้งเมนูเนื้อ และซีฟู้ดทุกรายการเป็นเมนูพรีเมี่ยม อีกทั้งยังมีพร้อมทั้งปิ้งย่างและชาบูอีกด้วย! มีหลายราคาให้เลือกตามความชอบของแต่และคน การตกแต่งร้านเน้นความโปร่ง สบาย ไม่อึดอัด เมนูเนื้อแนะนำคือ เนื้อวากิวออสเตรเลีย เนื้อแกะ สันนอกหมู เนื้อลาย สันคอ เบคอน สันนอก ริบอาย คุโรบูตะ แซลมอน หอยแมลงภู่ เมนูห้ามพลาด คือ คารูบิ โจคารูบิ!บอกเลยว่าเนื้อดีมากก เนื้อเเทรกมันสวยย ไม่เหนียว เเล่มาขนาดกำลังดี
      %p.blog1-p1 3. ร้าน เตาถ่าน Yakiniku Paradise 
      %p.blog1-p                 ร้านเนื้อย่างที่เต็มไปด้วย เนื้อเน้นเน้น เนื้อที่ย่างบนเตาถ่าน เนื้อที่มีกลิ่นหอมเพราะย่างบนเตาถ่านในแบบฉบับเฉพาะตัวผสมผสานระหว่างญี่ปุ่นและเกาหลี
      %p.blog1-p1 4. ร้าน Max Beef Yakiniku 
      %p.blog1-p                 ปิ้งย่างสไตล์ญี่ปุ่น จากเนื้อโคขุนคุณภาพไม่เหนียว ราคาไม่แพง สำหรับคนรักเนื้อ แถมทางร้านมีโปรโมชันเอาใจวัยเรียน นิสิตนักศึกษา ตลอดๆ นักศึกษา ม.เกษตรศาสตร์ บางเขน เห็นทีจะมีกำลังใจเรียน เพื่อว่าหลังเลิกเรียนจะได้แวะมาชิมของอร่อยจากร้าน Max Beef Yakiniku จุดเด่นของเนื้อร้านนี้คือ เนื้อทุกชนิดจะผ่านการบ่มอย่างดีจากผู้เชี่ยวชาญด้านเนื้อโดยเฉพาะ ทำให้เนื้อมีรสชาติเข้าข้น หอม นำมาย่างเเล้วอร่อยมาก จนได้รับขนานนามว่าเป็นสวรรค์ของคนรักเนื้อ
      %p.blog1-p1 5. ร้าน Guru Gyuu กูรูกิว  
      %p.blog1-p                 ร้านบุฟเฟ่ต์ปิ้งย่างเนื้อชั้นดีระดับพรีเมี่ยม มีหลายราคาตั้งเเต่ราคา 399 บาท ถึงราคาสูงที่สุดของร้านคือราคา 1,999 บาท (บุฟเฟ่ต์วากิว) ทุกๆ จานที่ร้านใช้จะสไลซ์กันสดๆ เสิร์ฟจานต่อจาน ไม่มีทำไว้ก่อน ซึ่งอาจจะใช้เวลาและทำให้อาหารออกมาจากครัวช้าไปบ้าง แต่หลังจากสิ้นสุดการรอคอยแล้วรับประกันได้ว่าจะได้สัมผัสกับความแตกต่างทั้งรสชาติและรสสัมผัสแท้ๆ ของเนื้อที่อร่อยจนหยุดไม่อยู่เลย
      %p.blog1-p แหล่งอ้างอิง: https://www.ryoiireview.com/article/beef-grill