.wrapper
  %nav#sidebar
    .sidebar-header
      %h3.sidebar 
        =image_tag "tortoise.png", {:class=> "blog2-img"}
        Mental & Physical Health
    %ul.list-unstyled.components
      %li.active
        %a{:href => "/health"}
          %i.fas.fa-dumbbell
          Health 
        %a{:href => "/mental"}
          %i.fas.fa-heartbeat
          Mental
        %a{:href => "/food"}
          %i.fas.fa-utensils
          Food For You             
        %a{:href => "/about"} 
          %i.fas.fa-address-card
          About Us
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %button#sidebarCollapse.btn.btn-info{:type => "button"}
          %i.fas.fa-bars
          %span 
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-user-circle
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item.dropdown-color{:href => "/"} Logout
    %center
      %h1.title-blog 6 ร้าน "ราเมน" เส้นเหนียวน้ำซุปเข้มข้น
    =image_tag "Ramen.jpg", {:class=> "blog1-img"}
    .align-blog1
      %p.blog1-p1 1. ร้าน Tonkotsu Kazan Thailand 
      %p.blog1-p                 จุดเด่นของร้านนี้อยู่ที่ราเมงที่เสิร์ฟบนชามหินกระทะร้อน เมื่อเติมน้ำซุปลงไปแล้วจะเดือดปุดๆ และหอมมาก ด้านเมนูก็มีให้เลือกเยอะ ไม่ว่าจะเป็น บันบันจี ฮิยาชิเมง หรือจะคะซังราเมงต้มยำกุ้ง สไตล์คนไทยหน่อย ก็เลือกทานกันได้ตามใจชอบเลย
      %p.blog1-p1 2. ร้าน Uchidaya Ramen 
      %p.blog1-p                 เมนูทางร้านมีเยอะมาก เช่น Gyoton Ramen น้ำซุปสไตล์ฟิวชั่นที่หาทานได้ยาก เข้มข้นด้วยรสชาติของกระดูกหมู หอมกลิ่นปลาอ่อนๆเพราะผสมผงปลา ทานคู่หมูชาชูนุ่มๆ ละลายในปาก อุชิดายะเราก็มีข้าวแกงกะหรี่ ข้าวหน้าหมูชาชูราดซอสขิงเพิ่มไข่ออนเซ็น และหมูชาชูเบิร์นไฟ,ข้าวหน้าหมูชาชูราดซอสขิงเพิ่มไข่ออนเซ็น และหมูชาชูเบิร์นไฟ
      %p.blog1-p1 3. ร้าน Ton Chin Kan Ramen 
      %p.blog1-p                 ร้านนี้มีทั้งหมด 3 สาขาทั่ว กทม. เรียกได้ว่ากระชากความอร่อยไปในทุกพื้นที่เลยก็ว่าได้ ทางร้านทชมีเมนูเด็ดๆ อยู่หลายเมนูเนู อาทิเช่น ชิโอะราเมน ราเมนซุปใสที่ต้มยาวนานกว่า 4 ชั่วโมง เกี้ยวซ่า ทงจิงกัง ราเมน กุ้งเทมปุระ
      %p.blog1-p1 4. ร้าน Fujiyama go go 
      %p.blog1-p                 สูตรเด็ดของร้านอยู่ที่น้ำซุปที่เคี่ยวนานกว่า 48 ชม. เรื่องความกลมกล่อมไม่ต้องพูดถึง คือดีมาก ตัวร้านออกเเบบโดยนักออกแบบชื่อดังจากเมือง nagoya ประเทศญี่ปุ่น เรียกได้ว่าเมื่อเข้ามาในร้านจะได้บรรยากาศเเบบเจแปนสไตล์มากๆ ด้านเมนูทางร้านมีให้เลือกหลากหลายเมนู เช่น Umakara Tsukemen Special และ Tsukemen Mini Set โทเมโท ทสึเคเมน Gyu Horumon Tsukemen
      %p.blog1-p1 5. ร้าน Bankara Ramen 
      %p.blog1-p                 มีด้วยกัน 3 สาขา 1.สยามพารากอน ชั้น G, 2.อยู่ที่อาคาร The Manor สุขุมวิท 39 ใกล้กับ Bts พร้อมพงษ์ และ 3.Zpell at future park รังสิต ชั้น 2 บรรยากาศภายในร้านตกแต่งด้วยสีน้ำตาลอ่อนตัดกับสีส้มให้บรรยากาศเหมือนนั่งกินอยู่เจเเปนสุดๆ ส่วนเมนูทางร้านมีมากมาย เช่น มิโซะราเมง คาคูนิบังคาระราเมง หมูตุ๋น และทงคัตสึราเมง แต่ละเมนูไม่ธรรมดาแน่นอน มาลองกันได้ที่ร้านเลย
      %p.blog1-p1 6. ร้าน A Ramen 
      %p.blog1-p                 ราเมงข้อสอบรสต้นตำรับสาขาแรกที่พระราม 9 รสชาติรวมทั้งบรรยากาศการสั่งและการทานที่เหมือนนั่งอยู่ในห้องสอบ อีกทั้ง A Ramen ได้เปิดอีกหนึ่งสาขาที่ The Street Ratchada ให้ Ramen Lovers ที่อยู่ในโซนเมืองได้อิ่มอร่อยกับราเมงข้อสอบนี้กันได้ตลอด 24 ชั่วโมง
      %p.blog1-p แหล่งอ้างอิง: https://www.ryoiireview.com/article/ramen-6-bkk  