.wrapper
  %nav#sidebar
    .sidebar-header
      %h3.sidebar 
        =image_tag "tortoise.png", {:class=> "blog2-img"}
        Mental & Physical Health
    %ul.list-unstyled.components
      %li.active
        %a{:href => "/health"}
          %i.fas.fa-dumbbell
          Health
        %a{:href => "/mental"}
          %i.fas.fa-heartbeat
          Mental
        %a{:href => "/food"}
          %i.fas.fa-utensils
          Food For You             
        %a{:href => "/about"} 
          %i.fas.fa-address-card
          About Us
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %button#sidebarCollapse.btn.btn-info{:type => "button"}
          %i.fas.fa-bars
          %span 
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-user-circle
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item.dropdown-color{:href => "/"} Logout
    %center
      %h1.title-blog รวม 7 ร้านบุฟเฟ่ต์ชาบู&สุกี้ 199 บาท
    =image_tag "Shabu.png", {:class=> "blog1-img"}
    .align-blog1
      %p.blog1-p1 1. ร้าน อร่อยติ่มซำร้านนี้ 
      %p.blog1-p                 บุฟเฟต์สุกี้ ราคาท่านละ 199 บาท ยังมีติ่มซำในราคาที่แสนถูกเพียง 16 บาทเท่านั้น! เเต่ถ้าอยากทานแบบชาบู+ติ่มซำไม่อั้นด้วยก็ได้นะในราคาบุฟเฟต์ 299 บาท/ท่านค่า อ่ะๆ ยังไม่พอ เพราะทางร้านก็มีเมนูอาหารทอดให้ลองทานกัน เช่น ซาลาเปาทอด ที่ดูจากรูปแล้วก็น่ากินมาก วันไหนอยากกินสุกี้ แต่ร้านโปรดดันปิดเร็วตามเวลาห้าง ลองมาร้านอร่อยติ่มซำสิค่ะ ถูก และคุ้ม ที่สำคัญเปิด 24 ชม.
      %p.blog1-p1 2. ร้าน สุกี้ดารา 
      %p.blog1-p                 ทานได้ไม่จำกัดเวลา พร้อมเครื่องเทศสูตรเฉพาะของร้านอิมพอรต์มาจากฮ่องกง “ซาเต” ที่เพิ่มความอร่อย และความเข้มข้นให้อาหารสดมากกว่าเดิม แถมราคานี้กินกุ้ง และอาหารทะเลอื่นๆ ด้วย
      %p.blog1-p1 3. ร้าน Happy Suki 
      %p.blog1-p                 ด้วยราคาบุฟเฟ่ต์สุกี้เพียง 199 บาทต่อท่าน ที่สามารถทานได้ทุกเมนูของทางร้านแบบไม่มีกั๊กในเวลา 120 นาที รวมไปถึงติ่มซำที่ราคาเข่งละ 16 บาท เท่านั้น! เคยไปลองทานมาแล้วค่ะคอนเฟิร์มว่าถึงแม้ราคาจะถูกแสนถูกแต่วัตถุดิบ และคุณภาพของอาหารถือว่าดี และประทับใจจนอยากกลับไปทานอีก ซึ่งน้ำซุปหม่าล่าสไตล์ฮ่องกงเอาใจสายรักความเผ็ดแซ่บ! ที่มีให้เลือก 3 แบบคือหม่าล่า ซาเต และซุปใส โดยลูกค้าสามารถเลือกทานน้ำซุปได้ 2 แบบ จากน้ำซุปทั้ง 3 แบบนี้ค่ะ แถมเปิดให้บริการตลอด 24 ชั่วโมง
      %p.blog1-p1 4. ร้าน ซัดโฮกชาบู199  
      %p.blog1-p                 มีเงินไม่เยอะก็ทานได้แถมได้ทานชาบูด้วยนะในบุฟเฟ่ต์ราคาเพียง 199 บาท และไม่จำกัดเวลาในการทานด้วยพร้อมเครื่องดื่มอีกต่างหาก คุ้มกว่านี้มีอีกไหม?! จะสั่งหมูหรือเนื้อชาบูกี่จานก็ได้ไม่มีใครว่า ราคาถูกใจวัยโจ๋แบบนี้แถมคุณภาพของก็รับประกันว่าดีจริงทุกจานจึงทำให้ร้าน ซัดโฮกชาบู199 ติดอันดับร้านขวัญใจคนกระเป๋าแบน 
      %p.blog1-p1 5. ร้าน บ้านอาม่าชาบู 
      %p.blog1-p                 ที่ร้าน บ้านอาม่าชาบู แห่งนี้ ความอร่อยอันแสนจะกลมกล่อมของน้ำซุปชาบูสูตรเด็ดของอาม่าที่จะทำให้ใครหลายๆ คนตกหลุมรักจนต้องแวะมาเยี่ยมอยู่บ่อยๆ จุดเด่นของบ้านอาม่าชาบูคงหนีไม่พ้นหมูสไลด์ที่บางก็จริง แต่ยังคงความนุ่ม จุ่มในน้ำซุปแป๊บเดียวก็สุกพร้อมหม่ำแล้ว อาม่าแอบกระซิบมาบอกว่าที่ร้านมีแบบจานเดี่ยวด้วยนะ และมีบริการสั่งกลับบ้านด้วย
      %p.blog1-p1 6. ร้าน ร้าน จุ่มชาบู 
      %p.blog1-p                 "อร่อยสุดคุ้ม ต้องจุ่มชาบู" เพราะจ่ายเพียง 199 บาทก็สามารถทานได้ทุกเมนูของทางร้านแถมราคานี้รวมเครื่องดื่มไว้เรียบร้อยแล้วด้วย!
      %p.blog1-p1 7. ร้าน Shabu shabu ZaaB-ชาบูชาบูแซ่บ 
      %p.blog1-p                 เป็นที่ถูกอกถูกใจเหล่านักศึกษา และนักเรียนที่อยากทานอะไรที่มันคุ้ม อิ่มแต่ไม่แพง แค่ 199 บาทก็ได้เต็มอิ่มกับบุฟเฟ่ต์ชาบูแบบไม่จำกัดเวลา ฟรีเครื่องดื่ม แถมชีส และผลไม้ให้อีก
      %p.blog1-p แหล่งอ้างอิง: https://www.ryoiireview.com/article/7-shabu-suki-buffet-199-thailand