.wrapper
  %nav#sidebar
    .sidebar-header
      %h3.sidebar 
        =image_tag "tortoise.png", {:class=> "blog2-img"}
        Mental & Physical Health
    %ul.list-unstyled.components
      %li.active
        %a{:href => "/health"}
          %i.fas.fa-dumbbell
          Health
        %a{:href => "/mental"}
          %i.fas.fa-heartbeat
          Mental
        %a{:href => "/food"}
          %i.fas.fa-utensils
          Food For You             
        %a{:href => "/about"} 
          %i.fas.fa-address-card
          About Us
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %button#sidebarCollapse.btn.btn-info{:type => "button"}
          %i.fas.fa-bars
          %span 
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-user-circle
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item.dropdown-color{:href => "/"} Logout
    .row.blog-box
      .col-md-4
        %h1 Food Blog
    .row.blog-box
      .col-sm-6.col-lg-6
        .card
          .card-topper{:style => "background-image: url(https://www.ryoiireview.com/upload/article/201612/1481714129_bc81d3429bdb42d613e25a9e74d91d97.jpg);"}
          .card-block
          %h4.card-title 6 ร้าน "ราเมน" เส้นเหนียวน้ำซุปเข้มข้น
          %p.published-date Nov 19,2019
          %a.mg{:href => "food/blog1"}
            %input.btn.post-button-mental{:name => "commit", :type => "submit", :value => "Read more", :id => "readmore1"}
          %p.card-text
      .col-sm-6.col-lg-6
        .card
          .card-topper{:style => "background-image: url(https://th.openrice.com/info/thaicuisine/img/thaicuisine.jpg);"}
          .card-block
          %h4.card-title ร้านอาหารไทย 4 ภาคต้นตำรับเจ้าดังในกรุงเทพ
          %p.published-date Nov 19,2019
          %a.mg{:href => "food/blog2"}
            %input.btn.post-button-mental{:name => "commit", :type => "submit", :value => "Read more", :id => "readmore2"}
          %p.card-text
    .row.blog-box      
      .col-sm-6.col-lg-6
        .card
          .card-topper{:style => "background-image: url(https://www.ryoiireview.com/upload/article/201609/1474280447_a23b2e035547e9f241c7155ae96155bc.png);"}
          .card-block
          %h4.card-title  รวม 7 ร้านบุฟเฟ่ต์ชาบู&สุกี้ 199 บาท
          %p.published-date Nov 19,2019
          %a.mg{:href => "food/blog3"}
            %input.btn.post-button-mental{:name => "commit", :type => "submit", :value => "Read more", :id => "readmore3"}
          %p.card-text          
      .col-sm-6.col-lg-6
        .card
          .card-topper{:style => "background-image: url(https://www.ryoiireview.com/upload/article/201704/1493179842_ba4100a48c73280bc0ff256b64ec19c9.jpg);"}
          .card-block
          %h4.card-title 5 ร้านบุฟเฟ่ต์เนื้อย่างขั้นเทพ ราคาเบาๆ
          %p.published-date Nov 20,2019
          %a.mg{:href => "food/blog4"}
            %input.btn.post-button-mental{:name => "commit", :type => "submit", :value => "Read more", :id => "readmore4"}
          %p.card-text
    .row.blog-box      
      .col-sm-6.col-lg-6
        .card
          .card-topper{:style => "background-image: url(https://www.ryoiireview.com/upload/article/201708/1501736581_ba4100a48c73280bc0ff256b64ec19c9.jpg);"}
          .card-block
          %h4.card-title 12 ร้านก๋วยเตี๋ยวเจ้าเด็ด
          %p.published-date Nov 20,2019
          %a.mg{:href => "food/blog5"}
            %input.btn.post-button-mental{:name => "commit", :type => "submit", :value => "Read more", :id => "readmore5"}
          %p.card-text
      .col-sm-6.col-lg-6
        .card
          .card-topper{:style => "background-image: url(https://www.ryoiireview.com/upload/article/201911/1573469580_c46da91f5035fc6d9dafb6d05a491348.jpg);"}
          .card-block
          %h4.card-title 8 ร้านของหวานที่เปิดทั้งวันทั้งคืน
          %p.published-date Nov 20,2019
          %a.mg{:href => "food/blog6"}
            %input.btn.post-button-mental{:name => "commit", :type => "submit", :value => "Read more", :id => "readmore6"}
          %p.card-text    
