.container
  .box
    .card.card-login.mx-auto.text-center.height-card
      .card-header.mx-auto
        .row 
          .col-md-3
            =image_tag "tortoise.png", {:class=> "tortoise"}
          .col-md-9.title-session
            %p.title_text_1 MENTAL&PHYSICAL
            %p.title_text_2 HEALTH
      .card-body.width-n-height
        = form_for :session, url: login_path, :html => {:class=> "signup_form"} do |f|
          = f.text_field :username, :class => "input_signup form-control", :placeholder => "Fill your username", :required => true
          = f.password_field :password, :class => "input_signup form-control", :placeholder => "Fill your password", :required => true, :minlength => "6", :title =>"Please fill at least 6 character"
          = f.submit "Login", class: "btn login-button" 
          %span.choice-login --or--
          %a{:href => "/signup"}= f.submit "Signup", class: "btn signup-button"