.container
  .box
    .card.card-login.mx-auto.text-center.height-card
      .card-header.mx-auto
        %center
          %p.title_text Create a new account
      .card-body.width-n-height
        = form_for @user, url: signups_path, :html => {:class=> "signup_form"} do |f|
          = f.text_field :username, :class => "input_signup form-control", :placeholder => "Fill your username", :required => true
          = f.password_field :password, :class => "input_signup form-control", :placeholder => "Fill your password", :required => true, :minlength => "6", :title =>"Please fill at least 6 character"
          = f.password_field :password_confirmation, :class => "input_signup form-control", :placeholder => "Confirm your password", :required => true, :minlength => "6", :title => "Please fill the same character for confirm password."
          = f.email_field :email, :class => "input_signup form-control" , :placeholder => "Fill your email address", :required => true, :pattern => "/\A[\w+\-.]+@[a-z\d\-.]+\.[a-z]+\z/i", :title => "The pattern for email address is abc@gmail.com etc."
          = f.submit "Submit", class: "btn submit-button"


