.wrapper
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %h3.content.title-content
          =image_tag "tortoise.png", {:class=> "blog2-img"}
          %span.title-project Mental & Physical Health        
        %span 
        %a.login-link{:href => "/login"} Login
    .row.blog-box
      .col-md-12
        %h1 Latest blog
    .row-blog-box
      .col-md-12
        .hr-line
    .row.blog-box
      .col-md-1
      .col-md-10
        #carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
            %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
            %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
          .carousel-inner.bd-30
            .carousel-item.active
              =image_tag "blog1.png", {:class=> "d-block w-100"}
              .carousel-caption.d-none.d-md-block
                %h2.caption ปรับอารมณ์สู่สมดุลภายใน 4 นาที
            .carousel-item
              =image_tag "Dessert.jpg", {:class=> "d-block w-100"}
              .carousel-caption.d-none.d-md-block
                %h2.caption 8 ร้านของหวานที่เปิดทั้งวันทั้งคืน
            .carousel-item
              =image_tag "sleep.jpg", {:class=> "d-block w-100"}
              .carousel-caption.d-none.d-md-block
                %h2.caption นอนไม่หลับ ภัยร้ายสุขภาพ
          %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleIndicators", :role => "button"}
            %span.carousel-control-prev-icon{"aria-hidden" => "true"}
            %span.sr-only Previous
          %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleIndicators", :role => "button"}
            %span.carousel-control-next-icon{"aria-hidden" => "true"}
            %span.sr-only Next
      .col-md-1
    .row.blog-box
      .col-md-12
        %h1.mt-50 News
    .row-blog-box
      .col-md-12
        .hr-line
    .row-blog-box
      .col-md-12
        .card.h-160
          .card-header.news-card 
            .row
              .col-md-4  ปรับแก้ระบบการทำงานของเว็บไซต์
              .col-md-4
              .col-md-4 
                .fl 22 November 2019 09.05 pm
          .card-body
            %p.body-news                  ณ วันที่ 22 พฤศจิกายน ทางเว็บไซต์ Mental & physical health ได้มีการปรับปรุงระบบการทำงานของเว็บไซต์ตั้งแต่เวลา 09.00-18.00 น. หากผู้ใช้ไม่ได้รับความสะดวกในการใช้งาน ทางเว็บไซต์ขออภัยมา ณ ที่นี้ด้วย
