.wrapper
  %nav#sidebar
    .sidebar-header
      %h3.sidebar 
        =image_tag "tortoise.png", {:class=> "blog2-img"}
        Mental & Physical Health
    %ul.list-unstyled.components
      %li.active
        %a{:href => "/health"}
          %i.fas.fa-dumbbell
          Health
        %a{:href => "/mental"}
          %i.fas.fa-heartbeat
          Mental
        %a{:href => "/food"}
          %i.fas.fa-utensils
          Food For You           
        %a{:href => "/about"} 
          %i.fas.fa-address-card
          About Us
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %button#sidebarCollapse.btn.btn-info{:type => "button"}
          %i.fas.fa-bars
          %span 
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-user-circle
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item.dropdown-color{:href => "/"} Logout
    %center
      %h1.title-blog กินอย่างไรเมื่อเป็นเบาหวาน
    =image_tag "Eating.jpeg", {:class=> "blog1-img"}
    .align-blog1
      %p.blog1-p                  “อาหารเบาหวาน” ไม่ใช่อาหารที่มีความพิเศษแตกต่างจากอาหารที่เรารับประทานในชีวิตประจำวันแต่อย่างไร ดังนั้น ผู้ที่เป็นเบาหวานสามารถรับประทานอาหารได้เหมือนคนปกติทั่วไป เพียงแต่เพิ่มความระมัดระวังในการเลือกชนิดอาหารที่มีคุณภาพ และควบคุมปริมาณอาหารที่รับประทานให้เหมาะสมมากขึ้นสักหน่อย เพื่อที่จะไม่ให้ได้รับน้ำตาลเข้าสู่ร่างกายมากจนเกิน
      %p.blog1-p                   1.น้ำตาล : น้ำตาลเป็นคาร์โบไฮเดรตเชิงเดี่ยว ที่ถูกปรับเปลี่ยนเป็นน้ำตาลในเลือดได้อย่างรวดเร็ว โดยน้ำตาลจะเปลี่ยนน้ำตาลในเลือดได้ 100% ในระยะเวลาเพียง 15-30 นาทีเท่านั้น ซึ่งนั่นคือทำให้ระดับน้ำตาลในเลือดสูงขึ้นอย่างรวดเร็ว ตัวอย่างอาหารที่มีน้ำตาลมาก ได้แก่ น้ำตาลทราย น้ำหวาน น้ำอัดลมทุกประเภท และเยลลี่ เป็นต้น แม้ปัจจุบันมีหลักฐานงานวิจัยอนุญาตให้บริโภคน้ำตาลได้ 10% ของพลังงานที่ควรได้รับใน 1วัน แต่เรายังคงแนะนำให้ผู้ที่เป็นเบาหวานควรหลีกเลี่ยงหรือบริโภคน้ำตาลในปริมาณเล็กน้อยเท่านั้น เนื่องจากน้ำตาลให้เพียงพลังงาน ไม่มีสารอาหารที่จำเป็นต่อร่างกายอย่างเช่น วิตามิน แร่ธาตุ หรือใยอาหาร เป็นต้น นอกจากนี้แล้วการรับประทานอาหารประเภทน้ำตาลทำให้ไม่อิ่ม จึงทำให้เราต้องรับประทานอาหารในปริมาณที่เพิ่มขึ้น ทำให้ระดับน้ำตาลในเลือดยิ่งเพิ่มสูงขึ้น นอกเสียจากในกรณีที่มีภาวะน้ำตาลในเลือดต่ำ การดื่มน้ำอัดลม สัก 150 ml หรือ กินน้ำตาลก้อนสัก 2 ก้อน สามารถช่วยแก้ภาวะน้ำตาลในเลือดต่ำได้
      %p.blog1-p                   2.อาหารประเภทข้าว-แป้ง : อาหารประเภทข้าว-แป้ง เช่น ข้าว ขนมปัง ก๋วยเตี๋ยว และขนมจีน เป็นต้น ข้าว-แป้งจะเปลี่ยนเป็นน้ำตาลในเลือดได้ 90-100% โดยใช้เวลา 30-90 นาที อาหารประเภทข้าว-แป้ง นอกจากมีคาร์โบไฮเดรตแล้ว ยังมีโปรตีน วิตามิน แร่ธาตุ และใยอาหารที่จำเป็นต่อร่างกายโดยเฉพาะข้าว-แป้งที่ไม่ขัดสี เช่น ข้าวกล้อง หรือ ขนมปังโฮลวีท เป็นต้น ทั้งนี้ผู้ที่เป็นเบาหวานไม่ควรงดหรือจำกัดอาหารประเภทข้าว-แป้งมากจนเกินไป เพราะอาจทำให้เกิดภาวะน้ำตาลในเลือดต่ำได้ ควรรับประทานในปริมาณสัดส่วนที่เหมาะสม นอกจากนี้ยังมีอาหารบางชนิดที่จัดอยู่อาหารประเภทข้าว-แป้ง เช่น มันฝรั่ง ข้าวโอ๊ต เม็ดแปะก๊วย เกาลัด แห้ว ฟักทอง และ วุ้นเส้น เป็นต้น มาถึงจุดนี้เมื่อพูดถึงวุ้นเส้น หลายท่านเกิดประเด็นคำถามว่า วุ้นเส้นคือโปรตีน ไม่ใช่หรือ คำตอบคือ วุ้นเส้นคืออาหารประเภทข้าว-แป้ง รับประทานแล้วมีผลต่อระดับน้ำตาลในเลือดเช่นเดียวกับการรับประทานข้าวสวย ดังนั้นถ้ารับประทานวุ้นเส้นและอาหารดังกล่าว ควรมีการวางแผนลดปริมาณข้าวในมื้ออาหารนั้นๆ เพื่อควบคุมระดับน้ำตาลในเลือดได้ดียิ่งขึ้น
      %p.blog1-p                   3.ผลไม้ : ผลไม้ทุกชนิดมีคาร์โบไฮเดรตเป็นส่วนประกอบ ดังนั้นไม่ว่าจะรับประทาน ส้ม มะม่วง ฝรั่ง แอปเปิ้ล กล้วย หรือทุเรียน ก็ล้วนมีผลต่อระดับน้ำตาลในเลือดทั้งสิ้น ซึ่งผลไม้แต่ละชนิดจะมีปริมาณคาร์โบไฮเดรตที่แตกต่างกันไป นอกจากนี้ผลไม้ยังคงอุดมไปด้วย วิตามิน แร่ธาตุ ใยอาหารที่จำเป็นต่อร่างกาย ดังนั้นผู้ที่เป็นเบาหวานไม่จำเป็นต้องงดรับประทานผลไม้ ขอเพียงแค่จำกัดปริมาณผลไม้ที่รับประทานแต่ละมื้อให้อยู่ในปริมาณที่เหมาะสม ก็สามารถควบคุมระดับน้ำตาลในเลือดได้ โดยปริมาณที่เหมาะสมต่อมื้อ เช่น แอปเปิ้ล 1 ผลกลาง, ส้ม 1 ผลกลาง, ฝรั่ง 1 ผลเล็ก, กล้วยหอม 1/2 ผล, กล้วยไข่/กล้วยน้ำว้า 1 ลูก, เงาะ/มังคุด 4-5 ผล, แตงโม 10 ชิ้นคำ หรือ ส้มโอ 2 กลีบ เป็นต้น แต่ทั้งนี้ผู้ที่เป็นเบาหวานควรหลีกเลี่ยงหรืองดน้ำผลไม้ทุกชนิด ทั้งน้ำผลไม้สำเร็จรูป หรือน้ำผลไม้สดที่คั้นเองกับมือแม้ไม่ได้เติมน้ำตาลทรายหรือน้ำผึ้งก็ตามที เพราะอย่าลืมว่าผลไม้ทุกชนิดมีคาร์โบไฮเดรต ในการทำน้ำผลไม้ 1 แก้ว จะต้องใช้ผลไม้สดปริมาณค่อนข้างเยอะ ให้ลองนึกภาพว่าถ้ารับประทานปริมาณผลไม้เหล่านั้นแบบสด จะอิ่มนานแค่ไหน ในขณะที่ถ้ารับประทานในรูปของน้ำผลไม้ใช้เวลาดื่มเร็วมาก ไม่รู้สึกอิ่ม ให้พลังงานที่สูง และในขณะเดียวกันทำให้ระดับน้ำตาลในเลือดสูงขึ้นอย่างรวดเร็ว ยกเว้นในกรณีที่มีภาวะน้ำตาในเลือดต่ำ การดื่มน้ำผลไม้สัก 120 ml สามารถช่วยแก้ภาวะน้ำตาลในเลือดต่ำได้
      %p.blog1-p                   4.ผัก : ผักเป็นอาหารที่มีคาร์โบไฮเดรตในปริมาณน้อย จัดเป็นคาร์โบไฮเดรตเชิงซ้อนที่อุดมไปด้วยวิตามิน แร่ธาตุ และใยอาหารที่ช่วยชะลอน้ำตาลในเลือด ช่วยควบคุมระดับน้ำตาลในเลือดได้ดี ควรรับประทานผักทุกมื้อ จะรับประทานในรูปของผักสด หรือผักต้มก็ได้ แต่ไม่แนะนำในรูปของน้ำผักปั่น โดยเฉพาะน้ำผักปั่นแยกกาก ทำให้เราไม่ได้รับใยอาหารที่จำเป็นต่อร่างกายเลย ทั้งนี้ควรควบคุมปริมาณการบริโภคผักที่มีแป้งสูง เช่น ฟักทอง แครอท มันแกว เมล็ดถั่วลันเตา เป็นต้น ดังนั้นน้ำผักสุขภาพอย่างน้ำแครอท ในผู้ที่เบาหวาน ควรมีการควบคุมปริมาณในการดื่ม

      %p.blog1-p แหล่งอ้างอิง: https://www.bangkokhospital.com/th/health-tips/eat-when-diabetes