.wrapper
  %nav#sidebar
    .sidebar-header
      %h3.sidebar 
        =image_tag "tortoise.png", {:class=> "blog2-img"}
        Mental & Physical Health
    %ul.list-unstyled.components
      %li.active
        %a{:href => "/health"}
          %i.fas.fa-dumbbell
          Health
        %a{:href => "/mental"}
          %i.fas.fa-heartbeat
          Mental
        %a{:href => "/food"}
          %i.fas.fa-utensils
          Food For You           
        %a{:href => "/about"} 
          %i.fas.fa-address-card
          About Us
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %button#sidebarCollapse.btn.btn-info{:type => "button"}
          %i.fas.fa-bars
          %span 
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-user-circle
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item.dropdown-color{:href => "/"} Logout
    %center
      %h1.title-blog การออกกำลังกาย
    =image_tag "workingout.jpeg", {:class=> "blog1-img"}
    .align-blog1
      %p.blog1-p1 การออกกำลังกายสามารถแบ่งได้ 2 ประเภท ดังนี้
      %p.blog1-p แอนาแอโรบิค Anaerobic 
      %p.blog1-p                  คือ การออกกำลังกายแบบไม่ใช้ออกซิเจนช่วยในการเผาผลาญ พลังงาน เป็นการระเบิดพลังงานในเวลาสั้นๆ เช่น การเล่นเวทหรือ ยกน้ำหนัก (Weight Training) กล้ามเนื้อที่ได้จากการออกกำลังกายประเภทนี้จะเป็นมัดกล้ามเนื้อขาว ซึ่งจะระเบิดพลังงานสูงสุดในระยะเวลาสั้นๆ พลังงานที่เผาผลาญไม่ใช่ไขมัน แต่จะเป็นพลังงานสะสมที่ร่างกายเก็บไว้ที่กล้ามเนื้อและตับ (Glycogen-ไกลโคเจน) ในระยะยาวกล้ามเนื้อที่ใหญ่ ขึ้นจากการออกกำลังกายแบบ (Weight Training) จะช่วยเผาผลาญพลังงานได้เป็นอย่างดี แม้ขณะนั่งอยู่เฉยๆหรือนอนหลับ

      %p.blog1-p แอโรบิค Aerobic, คาร์ดิโอ Cardio 
      %p.blog1-p                  คือ การออกกำลังกายแบบใช้ออกซิเจนช่วยใน การเผาผลาญไขมันไปใช้เป็นพลังงาน เป็นการออกกำลังกายแบบค่อยเป็นค่อยไป มีความต่อเนื่องกันเป็นระยะเวลาไม่ต่ำกว่า 25 นาที เช่น วิ่ง ว่ายน้ำ ปั่นจักรยาน เต้นแอโรบิค กล้ามเนื้อที่ได้จากการออกกำลังกายประเภทนี้ คือ มัดกล้ามเนื้อแดง ซึ่งจะเน้นความทนทาน

      %p.blog1-p การออกกำลังกายเพื่อเผาผลาญไขมันส่วนเกิน 
      %p.blog1-p                  หากเราต้องการเผาผลาญไขมันส่วนเกิน จะต้องออกกำลังกายแบบแอโรบิค (Aerobic), คาร์ดิโอ (Cardio) เช่น การ วิ่ง,ว่ายน้ำ,ปั่นจักรยาน ต่อเนื่องอย่างน้อย 30 นาที ขึ้นไป เพราะในนาทีที่ 1-25 ร่างกายจะเผาผลาญพลังงานสะสมที่กล้ามเนื้อและตับ (ไกลโคเจน) หลังจากนาทีที่ 25 ร่างกายจะเริ่มนำไขมันมาเผาผลาญ การออกกำลังกายวันละ 10-15 นาที ไม่ช่วยเผาผลาญไขมัน หลายคนจึงเกิดการท้อแท้ เพราะออกกำลังกายไม่ถึง 30 นาที แล้วกลับไปรับประทานอาหารอย่างเต็มที่ โดยคิดว่าได้ลดไขมันไปบ้างแล้ว

      %p.blog1-p แหล่งอ้างอิง: http://www.lovefitt.com/