.wrapper
  %nav#sidebar
    .sidebar-header
      %h3.sidebar 
        =image_tag "tortoise.png", {:class=> "blog2-img"}
        Mental & Physical Health
    %ul.list-unstyled.components
      %li.active
        %a{:href => "/health"}
          %i.fas.fa-dumbbell
          Health
        %a{:href => "/mental"}
          %i.fas.fa-heartbeat
          Mental
        %a{:href => "/food"}
          %i.fas.fa-utensils
          Food For You           
        %a{:href => "/about"} 
          %i.fas.fa-address-card
          About Us
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %button#sidebarCollapse.btn.btn-info{:type => "button"}
          %i.fas.fa-bars
          %span 
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-user-circle
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item.dropdown-color{:href => "/"} Logout
    %center
      %h1.title-blog 3 วิธีไดเอ็ต-ลดน้ำหนักที่คนอยากทำตามที่สุดในปี 2019
    =image_tag "weight.jpeg", {:class=> "blog1-img"}
    .align-blog1
      %p.blog1-p                  จริงๆ แล้ววิธีลดน้ำหนักที่หลายคนรู้จักก็ไม่ได้มีอะไรซับซ้อน แต่ทานให้น้อยลง และออกกำลังกายให้มากขึ้น แต่ก็จะมีเทคนิคเล็กๆ น้อยๆ ที่จะช่วยให้คนที่อยากลดน้ำหนักไปถึงเป้าหมายได้ง่ายขึ้น ดังนั้นจึงก่อกำเนิดวิธีลดน้ำหนักหลากสไตล์หลายแบบให้ทุกคนได้เลือกทำตามความเหมาะสม และความสะดวกของแต่ละคน U.S. News ทำการจัดอันดับวิธีลดน้ำหนักที่น่าทำตามที่สุดในปี 2019 มีวิธีลดน้ำหนักแบบไหนที่คนอเมริกันส่วนใหญ่โหวตให้เป็นวิธีที่น่าลองทำตามกันในปีนี้บ้าง ลองมาดูกัน

      %p.blog1-p1 1. DASH Diet
      %p.blog1-p                  DASH ย่อมาจาก Dietary Approaches to Stop Hypertension Diet คือ แนวทางโภชนาการเพื่อหยุดความดันโลหิตสูง อยากที่รู้กันว่าความดันโลหิตสูงเป็นอาการที่พบได้บ่อยในคนไทย โดยเฉพาะในผู้สูงอายุ แต่เราไม่จำเป็นต้องรอจนกว่าเราจะอยู่ในภาวะความดันโลหิตสูงถึงจะเริ่มใช้วิธีไดเอ็ตแบบนี้ เพราะนี่คือวิธีทานอาหาร หรือไดเอ็ตที่ช่วยป้องกันภาวะความดันโลหิตสูง

      %p.blog1-p1 2. Mediterranean Diet
      %p.blog1-p                  ตามชื่อของการไดเอ็ตในวิธีนี้ คือการกินตามแบบที่คนตามชายฝั่งเมดิเตอร์เรเนียน เช่น กรีซ อิตาลีตอนใต้ และสเปน ทานกัน คือ การทานอาหารที่เน้นผัก ผลไม้ และธัญพืชเป็นหลัก รวมถึงไขมันที่ไม่อิ่มตัว เช่น น้ำมันมะกอก น้ำมันคาโนล่า อัลมอนด์ วอลนัต ส่วนนม และชีสเลือกแบบไขมันต่ำ และไม่ทานเนื้อแดงอย่างเนื้อวัว เนื้อสัตว์ใหญ่ แต่จะเลือกทานสัตว์ปีกอย่าง ไก่ นก หรืออาหารทะเลแทน

      %p.blog1-p1 3. Flexitarian Diet
      %p.blog1-p                  บางคนอาจจะยังไม่สามารถห้ามใจตัวเองไม่ให้ทานเนื้อสัตว์ได้ เลยยังไม่กล้าที่จะลุยไปทางการทานมังสัวิรัติ แต่สำหรับการไดเอ็ตแบบ Flexitarian Diet คือการทานมังสวิรัติแบบ “ยืดหยุ่น” ซึ่งเป็นหนึ่งในประเภทของการทานมังสวิรัติที่คนไทยหลายคนอาจไม่เคยทราบมาก่อนว่ามีมังสวิรัติแบบนี้อยู่ด้วย

      %p.blog1-p แหล่งอ้างอิง: https://www.sanook.com/health/14161/