.wrapper
  %nav#sidebar
    .sidebar-header
      %h3.sidebar 
        =image_tag "tortoise.png", {:class=> "blog2-img"}
        Mental & Physical Health
    %ul.list-unstyled.components
      %li.active
        %a{:href => "/health"}
          %i.fas.fa-dumbbell
          Health
        %a{:href => "/mental"}
          %i.fas.fa-heartbeat
          Mental
        %a{:href => "/food"}
          %i.fas.fa-utensils
          Food For You           
        %a{:href => "/about"} 
          %i.fas.fa-address-card
          About Us
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %button#sidebarCollapse.btn.btn-info{:type => "button"}
          %i.fas.fa-bars
          %span 
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-user-circle
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item.dropdown-color{:href => "/"} Logout
    %center
      %h1.title-blog Intermittent Fasting 
    =image_tag "intermittent-fasting-870x484.png", {:class=> "blog1-img"}
    .align-blog1
      %p.blog1-p Intermittent Fasting (IF) คืออะไร
      %p.blog1-p                  Intermittent Fasting (IF) ขอเรียกย่อๆว่า “IF” ความจริงแล้วไม่ใช่โปรแกรมการลดน้ำหนัก แต่เป็นรูปแบบของการกินอาหาร ที่จะกำหนดเวลาของมื้ออาหาร ไม่ตัดชนิดอาหาร หรือลดปริมาณอาหารลง เรียกได้ว่าสามารถกินได้ทุกอย่าง ไม่ต้องเปลี่ยนแปลงอาหารที่กิน แต่จะให้เราเปลี่ยนเวลาในการกิน เพียงแต่ต้องคำนึงถึงสารอาหาร ประโยชน์ของอาหาร และ ปริมาณพลังงานรวมที่ร่างกายต้องการต่อวัน
      %p.blog1-p                  ก่อนอื่นต้องมาทำความเข้าใจความต่างของร่างกายในช่วงเวลาที่เรากินอาหาร และอดอาหารเสียก่อน ในช่วงเวลาที่เรากินอาหาร โดยนับตั้งแต่ตักอาหารเข้าปากจนถึงการย่อย และดูดซึมสารอาหารนั้น จะกินเวลาประมาณ 3-5 ชม. ซึ่งในช่วงเวลานั้น ร่างกายจะมีปริมาณอินซูลิน (Insulin) สูงขึ้น เพื่อเป็นการรักษาระดับน้ำตาลในเลือด จึงทำให้ยากที่จะเผาผลาญไขมันในช่วงเวลานั้น ในทางกลับกันเมื่อท้องว่าง อาหารถูกย่อย และดูดซึมไปจนหมด ปริมาณอินซูลิน (Insulin) จะลดต่ำลงทำให้ร่างกายหลั่ง Growth Hormones ออกมา เกิดสภาวะ Ketosis จึงทำให้เราเผาผลาญไขมันได้ดีขึ้นในช่วงเวลาที่อดนั่นเอง Intermittent Fasting (IF) จึงนำเอาหลักของกระบวนการนี้มาใช้ โดยกำหนดให้ร่างกายขาดอาหารอย่างน้อย 12 ชั่วโมง เพื่อเป็นการกระตุ้นให้ร่างกายนำเอาไขมันสะสมมาใช้เป็นพลังงานมากขึ้นในช่วงเวลาที่ไม่มีพลังงานจากอาหาร นอกจากนี้ การจำกัดเวลาในการกินอาหาร ยังมีส่วนช่วยในการควบคุมปริมาณอาหารไม่ให้มากเกินไป โดยเฉพาะคนที่ชอบกินจุบจิบนอกมื้อ ปัจจุบัน Intermittent Fasting นั้นมีมากมายหลายสูตร ตามแต่ช่วงเวลาของการอด แต่ทั้งหมดจะอยู่ภายใต้หลักปฏิบัติเดียวกัน คือ ให้อดอาหารในช่วงเวลาที่กำหนด จะดื่มน้ำและเครื่องดื่มที่ไม่มีพลังงานเท่านั้น โดยแต่ละสูตรจะมีช่วงเวลาการกิน (Feeding) และช่วงเวลาการอด (Fasting) ไม่เท่ากัน

      %p.blog1-p                  การทำ Intermittent Fasting (IF) ส่งผลกับสุขภาพ? เชื่อว่าเป็นคำถามที่หลายคนสงสัย และใช้เป็นตัวตัดสินว่าควรหรือไม่ควรทำ IF ซึ่ง IF ก็เหมือนวิธีการลดน้ำหนักวิธีการอื่นๆ ที่จะมีทั้งข้อดี ข้อเสีย และ ข้อควรระวัง เสี่ยงต่อการกินอาหารมากเกินกว่าที่ร่างกายต้องใช้ ด้วยข้อจำกัดในเรื่องเวลาของการกินอาหาร หรือ การจำกัดปริมาณพลังงาน 2 วันต่อสัปดาห์ (หลักการ 5:2) จะทำให้เกิดความหิว โหย และ ความอยากอาหารมากขึ้น เมื่อเกิดความหิว และอยาก หลายคนจะเฝ้ารอคอยช่วงเวลาของการกินอาหาร วางแผนอาหารมื้อในฝัน และ กินอาหารทุกอย่างที่อยากกิน ซึ่งหากขาดการควบคุม และยับยั้งชั่งใจ ก็มีความเสี่ยงที่จะทำให้กินมากเกินกว่าที่ร่างกายต้องการ หรือ เกิดอาการรู้สึกผิดที่กินอาหารมากเกินไป ทำให้เกิดความเครียดได้ นอนหลับไม่สนิท คนส่วนใหญ่ที่ทำ IF จะใช้ช่วงเวลาในตอนกลางคืน เป็นช่วงอดอาหาร เนื่องจากเป็นช่วงของการนอนหลับพักผ่อน ที่ร่างกายไม่ต้องออกแรงทำกิจกรรมอะไร แต่มีงานวิจัยแสดงว่า การอดอาหาร ทำให้เกิดความหิวมากๆ ในช่วงเวลาตอนกลางคืน ทำให้การนอนหลับมีปัญหา นอนหลับไม่สนิท พักผ่อนไม่เพียงพอ ซึ่งอาจส่งผลถึงการควบคุมความหิว และความอยากกินของหวาน และของที่มีไขมันสูงได้ เสี่ยงต่อการขาดสารอาหาร กรณีที่ทำ IF โดยผสมวิธีไดเอตอื่นๆ โดยเฉพาะ การนับปริมาณพลังงานเพียงอย่างเดียว หรือการลด ตัด ปริมาณ คาร์โบไฮเดรต และไขมันลงมากๆ อาจทำให้ร่างกายขาดสารอาหารที่จำเป็นต่อการดำรงค์ชีวิต ซึ่งหากทำติดต่อกันเป็นเวลานาน อาจทำให้ร่างกายปรับเปลี่ยนโหมดเพื่อเอาตัวรอด และรักษาสมดุล โดยการลดการเผาผลาญ และใช้พลังงานน้อยลง สะสมไขมันมากขึ้น ทำการลด และการควบคุมน้ำหนักทำได้ยากขึ้น สูญเสียกล้ามเนื้อ ในการเผาผลาญพลังงาน เพื่อนำมาใช้ของร่างกายเรานั้นมีความซับซ้อนมาก เมื่อปริมาณพลังงานจาก คาร์โบไฮเดรตลดต่ำลง กระบวนการเผาผลาญ โปรตีน และไขมัน มาเป็นพลังงานจะค่อยๆ สูงขึ้น ซึ่งสัดส่วนการเผาผลาญพลังงานจาก โปรตีนในกล้ามเนื้อ และไขมัน จะมากหรือน้อย ขึ้นอยู่กับลักษณะรูปร่าง ปริมาณโปรตีนที่ได้รับ และ กิจกรรมทางกายที่ทำด้วย หากร่างกายไม่ได้รับสารอาหาร และโปรตีนที่เพียงพอ หรือทำกิจกรรมการออกกำลังกายที่หนักเกินไป อาจทำให้เกิดการสูญเสียกล้ามเนื้อได้

      %p.blog1-p                  ถึงจะมีงานวิจัย และผู้ที่ทำ IF แล้วลดได้สำเร็จมากมาย แต่ก็ไม่ได้เป็นเครื่องยืนยันว่า Intermittent Fasting (IF) จะวิธีการที่เหมาะกับทุกคน ด้วยที่สภาพร่างกายของแต่ละคนนั้น มีการตอบสนองไม่เหมือนกัน จึงเกิดผลลัพธ์ได้มากมายกับสุขภาพ จึงอยากให้ศึกษาหาข้อมูล และเช็คสภาพร่างกายของตนเองก่อน ระหว่าง และหลัง ทำ IF นอกจากนี้ควรปรึกษาและอยู่ภายใต้การดูแลจากผู้เชี่ยวชาญ โดยเฉพาะในผู้มีปัญหาสุขภาพ เพื่อช่วยในการวางแผน โภชนาการ และระยะเวลาที่เหมาะสมในการทำด้วย

      