.wrapper
  %nav#sidebar
    .sidebar-header
      %h3.sidebar 
        =image_tag "tortoise.png", {:class=> "blog2-img"}
        Mental & Physical Health
    %ul.list-unstyled.components
      %li.active
        %a{:href => "/health"}
          %i.fas.fa-dumbbell
          Health
        %a{:href => "/mental"}
          %i.fas.fa-heartbeat
          Mental
        %a{:href => "/food"}
          %i.fas.fa-utensils
          Food For You           
        %a{:href => "/about"} 
          %i.fas.fa-address-card
          About Us
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %button#sidebarCollapse.btn.btn-info{:type => "button"}
          %i.fas.fa-bars
          %span 
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-user-circle
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item.dropdown-color{:href => "/"} Logout
    %center
      %h1.title-blog 5 เคล็ดลับ กินอาหารเช้าให้ผอม เผาผลาญดีขึ้น
    =image_tag "breakfast.jpg", {:class=> "blog1-img"}
    .align-blog1
      %p.blog1-p                  หากช่วงนี้สาวไหนรู้สึกว่ากางเกงมันแน่นๆ เสื้อก็รัดๆ มีแววว่า ต้อง ลดน้ำหนัก กันแล้วล่ะ!! แต่สำหรับใครที่ไม่อยากอดอาหารจนเป็นลมล้มพับไป หรือไม่อยากจะซื้อยาแพงๆ มากินเอาซะเลย อยากบอกว่า แค่ใส่ใจ อาหารเช้า ที่ทานอยู่ก็ช่วยได้แล้วล่ะค่ะ แค่เพิ่มเทคนิคง่ายๆ เหล่านี้เข้าไปในมื้อเช้าเท่านั้นเอง
      %p.blog1-p1 เคล็ดลับกินอาหารเช้าให้ผอม : เมนูอาหารเช้าควรมีไฟเบอร์อย่างน้อย 8 กรัม 
      %p.blog1-p                 อาหารเช้าในทุกๆ วันควรมีไฟเบอร์เป็นส่วนประกอบด้วยนะคะ ซึ่งอาหารที่มีไฟเบอร์สูงก็ได้แก่ ข้าวโอ๊ต ผักใบเขียว กล้วย มันเทศ บล็อคโคลี่ แอปเปิลเขียว เพราะการเลือกกินอาหารที่มีไฟเบอร์อยู่จะส่งผลให้ระบบการย่อยยาวนานขึ้น ทำให้คุณรู้สึกหิวน้อยลงในมื้อต่อๆ ไปนั่นเองค่ะ

      %p.blog1-p1 เคล็ดลับกินอาหารเช้าให้ผอม : กินอาหารเช้าให้เร็วที่สุด 
      %p.blog1-p                 อาหารเช้าเราควรกินอย่างช้าที่สุดคือ หลังตื่นนอน 1 ชั่วโมงค่ะ เพราะเป็นช่วงที่ร่างกายกำลังต้องการสารอาหารและเร่งอัตราการเผาผลาญในร่างกายได้ดี

      %p.blog1-p1 เคล็ดลับกินอาหารเช้าให้ผอม : กินโปรตีนให้เยอะ 
      %p.blog1-p                 ในมื้อเช้านอกจากจะต้องมีไฟเบอร์แล้ว เราต้องเพิ่มโปรตีนให้มากขึ้นและลดน้ำตาลให้น้อยลงด้วยนะคะ แนะนำให้ลองนำไข่ไก่มาเป็นส่วนประกอบในอาหารเช้าดูนะคะ เพราะไข่ไก่ไม่เพียงมีโปรตีนสูง แต่ไขมันยังน้อยอีกด้วย!
      
      %p.blog1-p1 เคล็ดลับกินอาหารเช้าให้ผอม : ปริมาณของอาหารเช้า 
      %p.blog1-p                 มื้อเช้า แม้จะเป็นมื้อที่ดูเหมือนว่ากินหนักแค่ไหนก็ได้ แต่ก็ไม่ควรหนักเกินไปนะคะสาวๆ โดยปริมาณอาหารเช้าในแต่ละวันควรมีแคลอรีรวมๆ กันแล้วอยู่ที่ประมาณ 350 แคลอรีค่ะ ซึ่งปริมาณเท่านี้ถือว่ากำลังดี สำหรับคนที่กำลังลดน้ำหนักค่ะ

      %p.blog1-p1 เคล็ดลับกินอาหารเช้าให้ผอม : กินอาหารเช้าอย่างสม่ำเสมอ 
      %p.blog1-p                 การกินอาหารเช้าจะช่วยให้เราเผาผลาญพลังงานในแต่ละวันได้เพิ่มมากขึ้น นอกจากนั้นการกินอาหารอย่างข้าวในตอนเช้า ยังช่วยให้เรารู้สึกอิ่มและกินอาหารในมื้อต่อไปได้น้อยลง ทำให้รับแคลอรีในแต่ละวันน้อยลงด้วยล่ะค่ะ แต่ควรเลือกเป็นข้าวกล้อง หรือข้าวไรซ์เบอร์รี่ด้วยนะคะถ้าเป็นไปได้ เพราะจะช่วยให้ผอมมากยิ่งขึ้น

     

      %p.blog1-p แหล่งอ้างอิง: https://women.trueid.net/detail/VoAMzDvz3ldo