.wrapper
  %nav#sidebar
    .sidebar-header
      %h3.sidebar 
        =image_tag "tortoise.png", {:class=> "blog2-img"}
        Mental & Physical Health
    %ul.list-unstyled.components
      %li.active
        %a{:href => "/health"}
          %i.fas.fa-dumbbell
          Health
        %a{:href => "/mental"}
          %i.fas.fa-heartbeat
          Mental
        %a{:href => "/food"}
          %i.fas.fa-utensils
          Food For You           
        %a{:href => "/about"} 
          %i.fas.fa-address-card
          About Us
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %button#sidebarCollapse.btn.btn-info{:type => "button"}
          %i.fas.fa-bars
          %span 
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-user-circle
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item.dropdown-color{:href => "/"} Logout
    %center
      %h1.title-blog นอนไม่หลับ ภัยร้ายสุขภาพ
    =image_tag "sleep.jpeg", {:class=> "blog1-img"}
    .align-blog1
      %p.blog1-p                  ร่างกายคนเราเป็นเสมือนเครื่องจักรที่ต้องทำงาน 24 ชั่วโมง การนอนก็เหมือนกับให้เครื่องจักรได้หยุดพัก ร่างกายจะอาศัยช่วงเวลานอนหลับซ่อมแซมและพักฟื้นตนเอง เสริมสร้างความจำของสมองและการขับของเสียพร้อมทั้งสะสมพลังงานไว้ใช้ในวันรุ่งขึ้น การนอนหลับอย่างเพียงพอทั้งระยะเวลาและคุณภาพ จึงเป็นหลักประกันสำคัญต่อการมีสุขภาพกายและใจที่ดี อีกทั้งยังเป็นด่านแรกของการป้องกันโรคด้วย การนอนหลับในแต่ละช่วงเวลายังมีความสำคัญต่อสุขภาพต่างกัน อาทิ
      %p.blog1-p                  •	การหลับสนิทในช่วง 3 ทุ่ม – 5 ทุ่ม : จะช่วยให้ระบบน้ำเหลืองขับของเสียได้ดีขึ้น พร้อมทั้งเสริมสร้างระบบภูมิคุ้มกันให้แข็งแรงขึ้นด้วย
      %p.blog1-p                  •	การหลับสนิทในช่วง 5 ทุ่ม – ตี 1 : จะช่วยให้ตับขับของเสียได้อย่างมีประสิทธิภาพ กระตุ้นให้เซลล์ผิวซ่อมแซมตัวเองและมีการผลัดเซลล์ใหม่เร็วกว่าปกติถึง 8 เท่า
      %p.blog1-p                  •	การหลับสนิทในช่วงเที่ยงคืน – ตี 4 : จะช่วยให้ไขกระดูกสร้างเม็ดเลือดแดงได้อย่างมีประสิทธิภาพ
      %p.blog1-p                  •	การหลับสนิทในช่วงตี 1 – ตี 3 : จะกระตุ้นให้ถุงน้ำดีขับพิษได้อย่างมีประสิทธิภาพ
      %p.blog1-p                  •	การหลับสนิทในช่วงตี 3 – ตี 5 : จะส่งเสริมให้ปอดขับพิษได้อย่างมีประสิทธิภาพ
      %p.blog1-p                  หลับยาก ใช้เวลามากกว่า 30 นาทียังไม่หลับ หลับไม่ลึก ฝันบ่อย หลับไม่สนิทและระยะเวลาการนอนหลับลดลง ตื่นบ่อย ตอนกลางคืนตื่นเกินกว่า 2 ครั้งและหลับต่อยาก ตื่นเช้าเกิน เมื่อตื่นแล้วรู้สึกไม่สดชื่น รู้สึกตนเองฝันอยู่ทั้งคืน ตื่นง่าย มีเสียงรบกวนเพียงนิดเดียวก็ตื่น คุณภาพการนอนไม่ดี เวลานอนเพียงพอ แต่ตื่นขึ้นมารู้สึกไม่สดชื่น อ่อนเพลียในวันรุ่งขึ้น ง่วงและเพลียเมื่อเวลาทำงาน รู้สึกมึนๆ งงๆ สมองไม่ปลอดโปร่ง หากมีอาการดังกล่าวเกิน 1 เดือนให้ถือว่าเป็นอาการนอนไม่หลับชนิดเรื้อรัง ควรหาสาเหตุและรักษาแต่เนินๆ 

      %p.blog1-p แหล่งอ้างอิง: https://www.bangkokhospital.com/th/disease-treatment/the-health-dangers-of-insomnia