.wrapper
  %nav#sidebar
    .sidebar-header
      %h3.sidebar 
        =image_tag "tortoise.png", {:class=> "blog2-img"}
        Mental & Physical Health
    %ul.list-unstyled.components
      %li.active
        %a{:href => "/health"}
          %i.fas.fa-dumbbell
          Health
        %a{:href => "/mental"}
          %i.fas.fa-heartbeat
          Mental
        %a{:href => "/food"}
          %i.fas.fa-utensils
          Food For You           
        %a{:href => "/about"} 
          %i.fas.fa-address-card
          About Us
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %button#sidebarCollapse.btn.btn-info{:type => "button"}
          %i.fas.fa-bars
          %span 
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-user-circle
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item.dropdown-color{:href => "/"} Logout
    .row.blog-box
      .col-md-4
        %h1 Health Blog
    .row.blog-box
      .col-sm-6.col-lg-6
        .card
          .card-topper{:style => "background-image:url(https://foodinsight.org/wp-content/uploads/2019/08/intermittent-fasting.png);"}
          .card-block
          %h4.card-title Intermittent Fasting
          %p.published-date Nov 21,2019
          %a.mg{:href => "health/blog1"}
            %input.btn.post-button-mental{:name => "commit", :type => "submit", :value => "Read more", :id => "readmore1"}
          %p.card-text
      .col-sm-6.col-lg-6
        .card
          .card-topper{:style => "background-image: url(https://cms.dmpcdn.com/women/2019/10/16/4a1bc4a0-f004-11e9-8c61-e54e31a2899e_original.jpg);"}
          .card-block
          %h4.card-title 5 เคล็ดลับ กินอาหารเช้าให้ผอม เผาผลาญดีขึ้น
          %p.published-date Nov 21,2019
          %a.mg{:href => "health/blog2"}
            %input.btn.post-button-mental{:name => "commit", :type => "submit", :value => "Read more", :id => "readmore2"}
          %p.card-text
    .row.blog-box      
      .col-sm-6.col-lg-6
        .card
          .card-topper{:style => "background-image: url(https://media1.popsugar-assets.com/files/thumbor/B7OfG-9pC_J8zAUsVHM6JWdcqPQ/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2019/02/06/984/n/1922729/f91bd3b45c5b6190539f44.04768501_/i/How-Do-I-Warm-Up-My-Arms-Before-Working-Out.jpg);"}
          .card-block
          %h4.card-title  การออกกำลังกาย
          %p.published-date Nov 21,2019
          %a.mg{:href => "health/blog3"}
            %input.btn.post-button-mental{:name => "commit", :type => "submit", :value => "Read more", :id => "readmore3"}
          %p.card-text          
      .col-sm-6.col-lg-6
        .card
          .card-topper{:style => "background-image: url(https://www.bulletproof.com/wp-content/uploads/2019/03/Intuitive-Eating_header-752x401.jpg);"}
          .card-block
          %h4.card-title กินอย่างไรเมื่อเป็นเบาหวาน
          %p.published-date Nov 21,2019
          %a.mg{:href => "health/blog4"}
            %input.btn.post-button-mental{:name => "commit", :type => "submit", :value => "Read more", :id => "readmore4"}
          %p.card-text
    .row.blog-box      
      .col-sm-6.col-lg-6
        .card
          .card-topper{:style => "background-image: url(https://cdn.aarp.net/content/dam/aarp/health/conditions_treatments/2019/03/1140-bluelight-sleep.imgcache.rev4c77e169b4a901192515bee516c953b9.jpg);"}
          .card-block
          %h4.card-title นอนไม่หลับ ภัยร้ายสุขภาพ
          %p.published-date Nov 21,2019
          %a.mg{:href => "health/blog5"}
            %input.btn.post-button-mental{:name => "commit", :type => "submit", :value => "Read more", :id => "readmore5"}
          %p.card-text
      .col-sm-6.col-lg-6
        .card
          .card-topper{:style => "background-image: url(https://www.districthypnosis.com/wp-content/uploads/2014/07/weight-loss-exercise-plan-1024x682.jpg);"}
          .card-block
          %h4.card-title 3 วิธีลดน้ำหนักที่คนอยากทำตามที่สุดในปี 2019
          %p.published-date Nov 21,2019
          %a.mg{:href => "health/blog6"}
            %input.btn.post-button-mental{:name => "commit", :type => "submit", :value => "Read more", :id => "readmore6"}
          %p.card-text    