// @import "~bootstrap/scss/bootstrap";
nav.bg-light {
  background-color: #60a8ff !important;
  margin-bottom: 40px;
}

.navbar-light .navbar-brand {
  color: #ffffff !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
}

.title>h2 {
  padding-left: 15px;
}

.container-box {
  margin-top: 67px;
}

.card-text {
  text-align: center;
}

.card-img-top {
  width: 304px;
  height: 304px;
}

.w-60 {
  width: 690px;
  border-radius: 15px;
}

.align {
  margin-top: 40px;
  margin-left: 320px;
  margin-bottom: 40px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 32px !important;
  height: 32px !important;
}

.carousel-control-next {
  right: 333px !important;
}

.inline {
  display: inline-block;
}

.button-custom {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  padding-right: 40px !important;
  padding-left: 40px !important;
  margin-left: 45px !important;
  margin-bottom: 17px !important;
}

.title {
  margin-top: 40px;
  margin-bottom: 40px;
}

@import "bootstrap";