.wrapper
  %nav#sidebar
    .sidebar-header
      %a{:href => "/"}
      %h3.sidebar 
        =image_tag "tortoise.png", {:class=> "blog2-img"}
        Mental & Physical Health      
    %ul.list-unstyled.components
      %li.active
        %a{:href => "/health"}
          %i.fas.fa-dumbbell
          Health
        %a{:href => "/mental"}
          %i.fas.fa-heartbeat
          Mental
        %a{:href => "/food"}
          %i.fas.fa-utensils
          Food For You          
        %a{:href => "/about"} 
          %i.fas.fa-address-card
          About Us
  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %button#sidebarCollapse.btn.btn-info.login-bar{:type => "button"}
          %i.fas.fa-bars
          %span 
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-user-circle
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item.dropdown-color{:href => "/"} Logout
    %center
      %h1 About us
    .about-text 
      %p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mental & Physical Health เป็นเว็บไซต์ที่รวบรวมบทความที่ดีเเละมีประโยชน์เกี่ยวกับสุขภาพจิตเเละสุขภาพกาย รวมไปถึงบทความเกี่ยวกับอาหารร้านอร่อยอีกด้วย ทั้งนี้เพื่อให้ผู้อ่านได้ศึกษาเเละทำความรู้จักเกี่ยวกับสุขภาพได้มากขึ้น สามารถนำไปเป็นเเนวทางในการนำไปใช้กับชีวิตประจำวันได้ เเละคณะผู้จัดทำอยากจะเเนะนำให้ผู้อ่านได้ไปลิ้มลองความอร่อยจากร้านอาหารที่มีในบทความ เพราะอยากเเบ่งปันความสุข เราเชื่ออย่างยิ่งว่า "กินดี อยู่ดี เเล้วชีวิตจะมีสุข" หากเรารับประทานอาหารที่อร่อย มีสุขภาพจิตที่ดี เเค่นี้ก็เพียงพอเเล้วสำหรับการมีสุขภาพกายที่สมบูรณ์เเบบ
    .row
      .col-md-12.marginb-5
        .clear-left
          =image_tag "sick.jpg", {:class=> "sick-img"}
          %p.problem ปัญหาที่พบ :
          %p.problem มีคนจำนวนไม่น้อยที่ยังไม่เข้าใจเกี่ยวกับสุขภาพของตัวเองไม่ว่าจะเป็น สุขภาพกายหรือสุขภาพจิต บางคนมีคามเครียด ควบคุมอารมณ์ตัวเองไม่ได้ บางคนอยากรู้วิธีดูเเลตัวเองเพื่อให้สุขภาพดี หรือบางคนอาจจะเกิดความเบื่อหน่ายในอาหารที่ตนเองรับประทานอยู่ทุกวัน เพราะการทำอะไรซ้ำๆเดิมๆไม่มีการเปลี่ยนเเปลงก็สร้างความเบื่อหน่ายที่ส่งผลกระทบต่อจิตใจเเละร่างกายได้ด้วย ดังนั้นเว็บไซต์ของเราจึงนำบทความดีๆที่มีคำเเนะนำให้ผู้ใช้งานได้อ่าน เเละนำไปใช้ในชีวิตประจำวันนั่นเอง
    .row
      .col-md-12.marginb-5
        .clear-left
          =image_tag "health.jpg", {:class=> "sick-img2"}
          %p.result ผลลัพธ์ที่คาดหวัง :
          %p.result คณะผู้จัดทำหวังเป็นอย่างยิ่งว่าผู้อ่านจะสามารถนำสิ่งที่อ่านไปประยุกต์ใช้เเละบอกต่อผู้อื่นที่มีปัญหาเดียวกันได้ ผู้อ่านสามารถต่อยอดจากการอ่านเว็บไซต์ของเราเเละนำไปพูดให้ผู้อื่นได้ฟังเพื่อให้ทุกคนมีสุขภาพกายเเละใจที่ดีขึ้น ได้เปิดมุมมองใหม่ๆเกี่ยวกับอาหารรสอร่อย เเละยังหวังว่าผู้อ่านจะมีความคิดในเเง่บวก เพื่อให้สุขภาพจิตดี เมื่อสุขภาพจิตดี สุขภาพกายก็จะดีด้วยนั่นเอง
    .container
      %center
        %h1 Timeline
      .row
        .col-md-12
          .main-timeline7
            .timeline
              .timeline-icon
                %i.fas.fa-file-powerpoint
              %span.year 7 October 2019
              .timeline-content
                %h5.title Made proposal
            .timeline
              .timeline-icon
                %i.fas.fa-desktop
              %span.year 21 October 2019
              .timeline-content
                %h5.title Made Front-end Part
            .timeline
              .timeline-icon
                %i.fas.fa-database
              %span.year 11 November 2019
              .timeline-content
                %h5.title Made Back-end Part
            .timeline
              .timeline-icon
                %i.fas.fa-spell-check
              %span.year 15 November 2019
              .timeline-content
                %h5.title BDD and TDD Testing
    %center
      %h1.member-title Member
    .row
      .col-md-6
        .card-profile
          =image_tag "Nantapat.jpg", {:class=> "pro-img"}
          %center.name-block
            %p.name นางสาวนันทพัทธ์ เธียรภาณุเดช
          %center.id-block
            %p.name 5810613272
      .col-md-6
        .card-profile
          =image_tag "Muntita.jpg", {:class=> "pro-img"}
          %center.name-block
            %p.name นางสาวมัณฑิตา เวียงธรรม
          %center.id-block
            %p.name 6010613427
    .row
      .col-md-6
        .card-profile-2
          =image_tag "Onpreeya.jpg", {:class=> "pro-img"}
          %center.name-block
            %p.name นางสาวอรปรียา กิจพฤกษ์
          %center.id-block
            %p.name 6010613526
      .col-md-6
        .card-profile-2
          =image_tag "daravilai.jpg", {:class=> "pro-img"}
          %center.name-block
            %p.name นางสาวดาราวิไล เชียงปวน
          %center.id-block
            %p.name 6010613559
    %center.doc-name
      %h1.source-title Documentation & Sources
    .row.footer
      .col-md-4
        .center
          %a{:href => "https://bitbucket.org/mentalphysicalhealth/mental-physical-health/src/master/", :target => "blank"}
            =image_tag "bitbucket.png", {:style => "width:200px;"}
      .col-md-4
        .center
          %a{:href => "https://www.youtube.com/watch?v=PF428QS2X1U&feature=youtu.be", :target => "blank"}
            =image_tag "youtube.png", {:style => "width:200px;"}
      .col-md-4
        .center
          %a{:href => "https://drive.google.com/file/d/1IJPyQl0sQVikub5HLnYhtBNIJWl8exQm/view?usp=sharing", :target => "blank"}
            =image_tag "report.png", {:style => "width:200px; height:200px;"}
