// @import "bootstrap-sprockets";
// @import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0 !important;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  background-color: black !important;
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}


.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

h3.sidebar {
  font-family: 'Quicksand', sans-serif !important;
}

#sidebar .sidebar-header {
  font-family: 'Quicksand', sans-serif !important;
  padding: 25px;
  background: #211c6e;
}


#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5 !important;
  background: #fff;
}



a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}


a.article,
a.article:hover {
  background: #6dccaf !important;
  color: #fff !important;
}


#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}

p.content {
  margin-left: 20px;
}

h3.content,
h2.content {
  font-family: 'Quicksand', sans-serif !important;
  padding: 20px;
}

.fas.fa-address-card,
.fas.fa-dumbbell {
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;

}

.fas.fa-heartbeat:before {
  font-size: 25px;
  margin-left: 22px;
  margin-right: 23px;

}

.fas.fa-utensils:before {
  font-size: 25px;
  margin-left: 22px;
  margin-right: 27px;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: #211c6e !important;
}

a:hover {
  text-decoration: none !important;
}

a {
  color: #fff !important;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #sidebarCollapse span {
    display: none;
  }
}

#sidebarCollapse.btn.btn-info {
  background: white;
  border: 2px solid white;
}

#navbarDropdown.nav-link.dropdown-toggle {
  position: static;
  font-size: 25px;

}

.dropdown-menu.dropdown-menu-right:after {
  position: relative !important;
  padding: 40px !important;
}

.dropdown-item {
  font-size: 18px !important;
  font-family: 'Quicksand', sans-serif !important;
  color: black !important;
}

.form-control {
  position: relative;
  bottom: 5px;

}

.post-button-home {
  padding: 15px 70px !important;
  background-color: #014c76 !important;
  color: #ffffff !important;
  margin-top: 12px;
  font-weight: 600 !important;
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  margin-top: 30px;
  float: right;
}

.top {
  font-size: 40px !important;
  padding-top: 0 !important;
  margin-left: 24px;
  margin-right: 20px;
  margin-top: 48px;
  color: #2dac42fd;

}

.fas.fa-user-circle {
  font-size: 32px;
  padding-top: 7px;
}

.dropdown-color:hover {
  background-color: #6d7fcc !important;
}

.fa-bars:before {
  font-size: 22px;
  color: #6d7fcc !important;
  line-height: normal;
}