@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Athiti&display=swap');

body.home {
  font-family: 'Quicksand', sans-serif !important;
  margin: 0 !important;
}

h1 {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: bolder !important;
  color: #211C6E;
}

h2.caption {
  font-family: 'Athiti', sans-serif;
  font-weight: bold;
}

p.body-news {
  font-family: 'Athiti', sans-serif;
  font-size: 18px;
}

h5 {
  font-family: 'Athiti', sans-serif !important;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

// .navbar {
//   padding: 15px 10px;
//   background: #fff;
//   border: none;
//   border-radius: 0;
//   margin-bottom: 40px;
//   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
// }

// .navbar-btn {
//   background-color: black !important;
//   box-shadow: none;
//   outline: none !important;
//   border: none;
// }

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}


.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}


h3.content {
  font-family: 'Quicksand', sans-serif !important;
  color: #FFF;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}


a.article,
a.article:hover {
  background: #6dccaf !important;
  color: #fff !important;
}


#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}

p.content {
  margin-left: 20px;
}

h3.content,
h2.content {
  font-family: 'Quicksand', sans-serif !important;
  padding: 20px;
}

h3.content.title-content {
  padding: 0 !important;
  margin-bottom: 0 !important;
}

.fas.fa-address-card,
.fas.fa-dumbbell {
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;

}

.fas.fa-heartbeat:before {
  font-size: 25px;
  margin-left: 22px;
  margin-right: 23px;

}

.fas.fa-utensils:before {
  font-size: 25px;
  margin-left: 22px;
  margin-right: 27px;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: #211c6e !important;
}

a:hover {
  text-decoration: none !important;
}

a {
  color: #fff !important;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #sidebarCollapse span {
    display: none;
  }
}

#sidebarCollapse.btn.btn-info {
  background: white;
  border: 2px solid white;
}

#navbarDropdown.nav-link.dropdown-toggle {
  position: static;
  font-size: 25px;

}

.dropdown-menu.dropdown-menu-right:after {
  position: relative !important;
  padding: 40px !important;
}

.dropdown-item {
  font-size: 18px !important;
  font-family: 'Quicksand', sans-serif !important;
  color: black !important;
}

.form-control {
  position: relative;
  bottom: 5px;

}

.post-button-home {
  padding: 15px 70px !important;
  background-color: #014c76 !important;
  color: #ffffff !important;
  margin-top: 12px;
  font-weight: 600 !important;
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  margin-top: 30px;
  float: right;
  right: 25px;
}

.top {
  font-size: 40px !important;
  padding-top: 0 !important;
  margin-left: 24px;
  margin-right: 20px;
  margin-top: 48px;
  color: #2dac42fd;

}

.fas.fa-user-circle {
  font-size: 32px;
  padding-top: 7px;
}

.dropdown-color:hover {
  background-color: #6d7fcc !important;
}

.fa-bars:before {
  font-size: 22px;
  color: #6d7fcc !important;
  line-height: normal;
}

.row {
  margin: 0 !important;
}

.bio-textarea {
  margin-right: 25px !important;
}

.login-link {
  font-weight: bold;
  font-size: 19px;
}

.login-bar {
  height: 38px;
}

a.carousel-control-next {
  right: 0 !important;
}

.w-100 {
  height: 500px !important;
}

.hr-line {
  border-bottom: 4px solid #211c6e;
  margin-bottom: 60px;
}

.bd-30 {
  border-radius: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.card .card-header.news-card {
  background: #211c6e !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
  font-family: 'Athiti', sans-serif;
  color: #FFF;
  font-size: 20px;
}

.fl {
  float: right;
}

.card.h-160 {
  height: 160px;
}

span.title-project {
  font-weight: bold;
}