// Place all the styles related to the Mental controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Athiti&display=swap');

body.mental {
  font-family: 'Quicksand', sans-serif;
  margin: 0 !important;
  background: url(asset_path('blog-bg3.jpg'));
  //   background-image: url(image_path('blog-bg3.jpg'));
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}


h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder !important;
  color: #211C6E;
}

h1.title-blog {
  font-family: 'Athiti', sans-serif !important;
  position: relative;
  top: 30px;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.7em;
  color: #000;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  background-color: black !important;
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}


.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

h3.sidebar {
  font-family: 'Quicksand', sans-serif !important;
}

#sidebar .sidebar-header {
  font-family: 'Quicksand', sans-serif !important;
  padding: 20px;
  background: #211c6e;
}


#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 23px 0;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5 !important;
  background: #fff;
}

// #sidebar ul li.active>a,
// a[aria-expanded="true"] {
//     color: #fff;
//     background: #6d7fcc;
// }

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}


a.article,
a.article:hover {
  background: #6dccaf !important;
  color: #fff !important;
}


#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}

p.content {
  margin-left: 20px;
}

h3.content,
h2.content {
  font-family: 'Quicksand', sans-serif !important;
  padding: 20px;
}

.fas.fa-address-card,
.fas.fa-dumbbell {
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;

}

.fas.fa-heartbeat:before {
  font-size: 25px;
  margin-left: 22px;
  margin-right: 23px;

}

.fas.fa-utensils:before {
  font-size: 25px;
  margin-left: 22px;
  margin-right: 27px;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: #211c6e !important;
}

a:hover {
  text-decoration: none !important;
}

a {
  color: #fff !important;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #sidebarCollapse span {
    display: none;
  }
}

#sidebarCollapse.btn.btn-info {
  background: white;
  border: 2px solid white;
}

#navbarDropdown.nav-link.dropdown-toggle {
  position: static;
  font-size: 25px;

}

.dropdown-menu.dropdown-menu-right:after {
  position: relative !important;
  padding: 40px !important;
}

.dropdown-item {
  font-size: 18px !important;
  font-family: 'Quicksand', sans-serif !important;
  color: black !important;
}

.form-control {
  position: relative;
  bottom: 5px;

}

.post-button-home {
  padding: 15px 70px !important;
  background-color: #014c76 !important;
  color: #ffffff !important;
  margin-top: 12px;
  font-weight: 600 !important;
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  margin-top: 30px;
  float: right;
}

.top {
  font-size: 40px !important;
  padding-top: 0 !important;
  margin-left: 24px;
  margin-right: 20px;
  margin-top: 48px;
  color: #2dac42fd;

}

.fas.fa-user-circle {
  font-size: 32px;
  padding-top: 7px;
}

.dropdown-color:hover {
  background-color: #6d7fcc !important;
}

.fa-bars:before {
  font-size: 22px;
  color: #6d7fcc !important;
  line-height: normal;
}

.card {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #181818;
  height: 400px;
  margin-bottom: 20px;

  .card-topper {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  .card-block {
    padding: 10px;

    .btn-read {
      background-color: #e8e8e8;
      font-weight: 300;
      border-radius: 0;
      color: black;

      &:hover {
        background-color: #d8d8d8;
      }
    }

    .card-title {
      font-size: 1.3rem;
      font-family: 'Quicksand', sans-serif !important;
      margin-bottom: 0.5rem;

      a {
        color: black;
        text-decoration: none;
      }
    }

    .published-date {
      font-size: 0.8rem;
      color: #787878;
      font-weight: 300;
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
    }

    .card-text {
      font-size: 0.9rem;
    }
  }
}

// .row {
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: 1px !important;
// }
.blog-box {
  margin: 0 !important;
}

.post-button-mental {
  padding: 10px 70px !important;
  background-color: #014c76 !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  float: right;
}

h4.card-title {
  text-align: left;
  padding: 0 13px;
  margin-bottom: 0px;
  font-family: 'Athiti', sans-serif !important;
  font-weight: bold !important;
}

.published-date {
  padding: 10px 13px;
}

.mg {
  margin-left: auto;
  margin-right: auto;
}

.blog1-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 105px;
  display: block;
  width: 480px;
}


.blog1-p {
  font-family: 'Athiti', sans-serif !important;
}

.align-blog1 {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 5rem;
}

.mg {
  margin-left: auto;
  margin-right: auto;
}

.blog1-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 105px;
  display: block;
  width: 480px;
}


.blog1-p {
  font-family: 'Athiti', sans-serif !important;
}

.align-blog1 {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 5rem;
}

.hr-blog {
  border: 2px solid #211C6E !important;
  width: 943px;
  left: 20px;
  top: 31px;
  position: relative;
}

.blog1-p2 {
  color: #211C6E;
  left: 20px;
  top: 46px;
  position: relative;
}

.blog1-p3 {

  top: 46px;
  right: 19px;
  float: right;
  position: relative;
}

.blog1-p1 {
  color: red;
  font-family: 'Athiti', sans-serif !important;
  font-size: 20px;

}

.blog1-p5 {
  color: gray;
  font-family: 'Athiti', sans-serif !important;
  font-size: 20px;

}