@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body.profile {
  font-family: 'Quicksand', sans-serif !important;
  margin: 0 !important;
}

.container.upload {
  max-width: 960px;
  margin: 30px auto;
  padding: 20px;
}


.avatar-upload {
  position: relative;
  bottom: 228px;
  max-width: 205px;
  margin: 50px auto;

  .avatar-edit {
    position: absolute;
    left: 210px;
    z-index: 1;
    top: 10px;

    input {
      display: none;

      +label {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all .2s ease-in-out;

        &:hover {
          background: #f1f1f1;
          border-color: #d6d6d6;
        }

        &:after {
          content: "\f040";
          font-size: large;
          font-family: 'FontAwesome';
          color: #757575;
          position: absolute;
          top: 16px;
          left: 0;
          right: 0;
          text-align: center;
          margin: auto;
        }
      }
    }
  }

  .avatar-preview {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

    >div {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.title {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 600;
}

.name-box {
  position: relative;
  bottom: 200px;
  left: 40px;
}

.bio {
  position: relative;
  bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  left: 39px;
}

.profile-content.block {
  height: 600px;
  margin-bottom: 120px;
}

// .gj-icon{
//     font-size: xx-large !important;
//     position: relative !important;
//     top: -12px !important;
//     left: -10px !important;
// }
.profile-submit-button {
  padding: 15px 70px !important;
  background-color: #014c76 !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  display: block !important;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 121px;
}

.gj-datepicker .input-group-append>.btn-outline-secondary {
  bottom: 10px !important;
  height: 38px;
}

.gj-datepicker-bootstrap [role=right-icon] button .gj-icon {
  left: 8px !important;
}

.profile-form {
  bottom: 190px;
  position: relative;
}

input[type='radio'] {
  transform: scale(2);
}

.radio {
  padding-left: 11px;
}

.ml-14 {
  margin-left: 14px;
}

.bottom-94 {
  position: relative;
  bottom: 94px;
}

.right-38 {
  right: 38px;
}

.radio-buttons {
  position: relative;
  left: 41px;
}

.col-md-4.bottom-40 {
  bottom: 100px;
}