// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.sessions {
  background-image: url(image_path('login_bg3.jpg'));
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Quicksand', sans-serif !important;
}

p.title_text_1 {
  font-family: 'Acme', sans-serif;
  font-size: 40px;
  color: #014C76;
  margin-bottom: 0 !important;
  text-align: left;
}

p.title_text_2 {
  font-family: 'Acme', sans-serif;
  font-size: 50px;
  color: #014C76;
  margin-bottom: 0 !important;
  text-align: left;
}

.tortoise {
  width: 140px;
  margin-top: 44px;
}

.title-session {
  margin-top: 68px;
  position: relative;
  left: 22px;
}

.login-button {
  padding: 15px 48px !important;
  background-color: #014C76 !important;
  color: #ffffff !important;
  margin-top: 12px;
  font-weight: 600 !important;
  float: left;
  text-transform: none;
}

.choice-login {
  font-weight: bold;
  font-size: 23px;
  position: relative;
  top: 20px;
}

.signup-button {
  padding: 15px 48px !important;
  background-color: #014C76 !important;
  color: #ffffff !important;
  margin-top: 12px;
  font-weight: 600 !important;
  float: right;
  text-transform: none;
}

.card .card-header {
  background: none !important;
}