// Place all the styles related to the Signups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
$state-danger-text :"red";

.input_signup {
  margin-bottom: 23px !important;
  height: 48px !important;
  color: #86B4D6 !important;
  font-weight: 600 !important;
}

.input_signup::placeholder {
  color: #6d93bf !important;
}

.input_signup:focus {
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {


  .form-control {
    color: $state-danger-text;
  }
}

p.title_text {
  font-family: 'Acme', sans-serif;
  font-size: 50px;
  color: #014C76;
}

body.signups {
  background-image: url(image_path('signup_bg3.jpg'));
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Quicksand', sans-serif;
}

.box {
  padding: 61px 170px;
}

.height-card {
  height: 530px !important;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.width-n-height {
  padding-left: 192px !important;
  padding-right: 192px !important;
}

.card-header {
  background-color: transparent !important;
  border-bottom: none !important;
  margin-top: 15px !important;
}

.signup_form {
  position: relative;
  bottom: 11px;
}

.submit-button {
  padding: 15px 70px !important;
  background-color: #014C76 !important;
  color: #ffffff !important;
  margin-top: 12px;
  font-weight: 600 !important;
}

.card .card-header:not([class*="header-"]) {
  box-shadow: none !important;
}