.page-header.header-filter{"data-parallax" => "true", :style => "background-image:url('https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&auto=format&fit=crop&w=735&q=80');"}
.main.main-raised
  .profile-content.block
    .container.upload
      .avatar-upload
        .avatar-edit
          %input#imageUpload{:accept => ".png, .jpg, .jpeg", :type => "file"}/
          %label{:for => "imageUpload"}
        .avatar-preview
          #imagePreview{:style => "background-image: url(https://icon-library.net/images/default-user-icon/default-user-icon-14.jpg);"}

    .container
      .profile.profile-page    
      = form_for Profile.new, :html => {:class=> "signup_form"} do |f|
        .row.profile-form
          .col-md-4
            = f.text_field :name, :class => "form-control", :value => f.name
          .col-md-4
            = f.text_field :username, :class => "form-control", :placeholder => "Username", :minlength => "6", :title =>"Please fill at least 6 character"
          .col-md-4
            = f.date_field :birth_date, :class => "form-control", :placeholder => "Birth Date" 
        .row
          .col-md-4.bottom-40
            .radio-buttons
              = f.radio_button :gender, 'male', :checked => true
              = label :gender, 'Male', :class => 'radio'
              = f.radio_button :gender, 'female', :class => 'ml-14'
              = label :gender, 'Female', :class => 'radio'
              = f.radio_button :gender, 'lgbt', :class => 'ml-14'
              = label :gender, 'LGBT', :class => 'radio'
          .col-md-8.right-38
            = f.text_area :bio, :class => "bio form-control", :placeholder => "Tell something about you", :rows => "5"

        = f.submit "Save Change", class: "btn profile-submit-button" 



             
