<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3 class="sidebar">Mental & Physical Health</h3>
    </div>
    <ul class="list-unstyled components">
      <li class="active">
        <a aria-expanded="false" class="dropdown-toggle" data-toggle="collapse" href="#healthSubmenu">
          <i class="fas fa-dumbbell"></i>
          Health
        </a>
        <ul class="collapse list-unstyled" id="healthSubmenu">
          <li>
            <a href="#">Home 1</a>
          </li>
          <li>
            <a href="#">Home 2</a>
          </li>
          <li>
            <a href="#">Home 3 </a>
          </li>
        </ul>
        <a aria-expanded="false" class="dropdown-toggle" data-toggle="collapse" href="#mentalSubmenu">
          <i class="fas fa-heartbeat"></i>
          Mental
        </a>
        <ul class="collapse list-unstyled" id="mentalSubmenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
        <a aria-expanded="false" class="dropdown-toggle" data-toggle="collapse" href="#foodSubmenu">
          <i class="fas fa-utensils"></i>
          Food For You
        </a>
        <ul class="collapse list-unstyled" id="foodSubmenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
        <a href="#">
          <i class="fas fa-address-card"></i>
          About Us
        </a>
      </li>
    </ul>
  </nav>
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="btn btn-info" id="sidebarCollapse" type="button">
          <i class="fas fa-bars"></i>
          <span></span>
        </button>
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
          <i class="fas fa-user-circle"></i>
        </a>
        <div aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item dropdown-color" href="#">Profile</a>
          <a class="dropdown-item dropdown-color" href="#">Logout</a>
        </div>
      </div>
    </nav>
  </div>
</div>
